<aside id="left-panel" *ngIf="checkMenu">

    <!-- User info -->
    <sa-login-info></sa-login-info>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul saSmartMenu>
            <li>
                <a title="Dashboard" routerLink="/dashboard"><i class="fa fa-lg fa-fw fa-tachometer"></i> <span
                        class="menu-item-parent">{{'Dashboard' | i18n}}</span></a>
            </li>
            <li *ngFor="let menu of NavItems">

                <a title="{{menu.title}}" *ngIf="menu.url && menu.url !=''" routerLink="{{menu.url}}"><i
                        class="fa fa-lg fa-fw {{menu.icon ? menu.icon : 'fa-home'}}"></i> <span
                        class="menu-item-parent" (click)="onClickMenu()">{{ menu.name | i18n}}</span></a>

                <a title="{{menu.title}}" *ngIf="!(menu.url && menu.url !='')"><i
                        class="fa fa-lg fa-fw {{menu.icon ? menu.icon : 'fa-home'}}"></i> <span
                        class="menu-item-parent">{{ menu.name | i18n}}</span></a>

                <ul *ngIf="menu.children && menu.children.length > 0">
                    <li *ngFor="let children of menu.children" routerLinkActive="active">
                        <a routerLink="{{children.url}}" title="{{children.title}}"><span
                                class="menu-item-parent" (click)="onClickMenu()">{{children.name | i18n}}</span></a>
                    </li>
                </ul>
            </li>


            <!--<li>
              <a title="Users Management"><i class="fa fa-lg fa-fw fa-home"></i> <span
                      class="menu-item-parent">{{'Users Management' | i18n}}</span></a>
              <ul>
                <li routerLinkActive="active">
                  <a routerLink="/profiles/createnew/1" title="profile"><span
                          class="menu-item-parent">{{'Profile' | i18n}}</span></a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/users" title="Users"><span
                          class="menu-item-parent">{{'Users' | i18n}}</span></a>
                </li>

                <li routerLinkActive="active">
                  <a routerLink="/roles" title="Roles"><span
                          class="menu-item-parent">{{'Roles' | i18n}}</span></a>
                </li>
                <li routerLinkActive="active">
                  <a routerLink="/permissions" title="Permission"><span
                          class="menu-item-parent">{{'Permission' | i18n}}</span></a>
                </li>
              </ul>
            </li>-->


            <!--<li aside-chat></li>-->
        </ul>

    </nav>

    <!--<sa-minify-menu></sa-minify-menu>-->

</aside>
