<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <span class="txt-color-white">Instrument tracking tool - © {{currentYear - 1}} - {{currentYear}}</span>
        </div>
    </div>
</div>