<style>
    .toolkitInputField {
        padding: 0px 14px 5px!important;
    }
    
    .inputButtonMobile button {
        height: 31px;
        padding: 0 22px;
        margin-top: 17px;
    }
    
    @media (max-width: 768px) {
        .inputButtonMobile {
            padding-left: 15px;
        }
    }
    
    @media screen and (max-width: 1299px) and (min-width: 768px) {
        .inputButtonMobile button {
            padding: 0 8px;
        }
    }
</style>
<div id="content">
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Tool-kit', 'Add']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Tool-kit', 'Edit']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showForm">
                            <form [formGroup]="ToolkitForm" id="smart-form-register" class="smart-form client-form" novalidate="novalidate" [saUiValidate]="validationToolkitFormDetailOptions">
                                <fieldset>
                                    <section>
                                        <label class="control-label">Tool Kiy Code</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-product-hunt"></i>
                                            <input name="KitCode" type="text" formControlName="KitCode"
                                                   placeholder="Tool Kit Code">
                                            <b class="tooltip tooltip-bottom-right">Tool Kit Code</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Name</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-product-hunt"></i>
                                            <input name="Name" type="text" formControlName="Name"
                                                   placeholder="Name">
                                            <b class="tooltip tooltip-bottom-right">Name</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label" style="color: black;">Description</label>
                                        <label class="input" style="width: 100%;">
                                            <textarea name="Description" formControlName="Description" name="Description"
                                                      class="form-control input-md" rows="4"
                                                      placeholder="Please post your Description here."></textarea>
                                            <b class="tooltip tooltip-bottom-right">Description</b> </label>
                                    </section>
                                </fieldset>
                                <div class="col-sm-5">
                                    <fieldset class='transfer-order toolkitInputField'>
                                        <!-- <legend>Inventory</legend>
                                        <select [ngModelOptions]="{standalone: true}" (change)="modelChanged1()" class="fieldsetinput" name="ProductCodes" #ProductCodes="ngModel" [(ngModel)]="Inventory_ID" placeholder="Select Inventory">
                                            <option  value="" disabled>-- Please Select Inventory --</option>
                                            <option *ngFor="let product of Products; let i = index;" [value]="product._id">{{product.Name}}</option>
                                        </select> -->


                                        <section>
                                            <label class="control-label">Inventory</label>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="bankCtrl" #singleSelect (selectionChange)="onChangeCustomers()">
                                                        <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search>
                                                        <mat-option *ngIf="!bankFilterCtrl.value || bankFilterCtrl.value.length < 3" disabled value="">This will be filter product after 3 charactor</mat-option> 
                                                        <mat-option *ngFor="let product of filteredBanks" [value]="product._id">
                                                            ({{product.Name}})
                                                        </mat-option> 
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>

                                        <div *ngIf="showerror1" class="invalid-feedback">
                                            <div *ngIf="showerror1">Please Select Product</div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="col-sm-5">
                                    <fieldset class='transfer-order toolkitInputField'>
                                        <!-- <legend>Inventory</legend>
                                        <select [ngModelOptions]="{standalone: true}" (change)="modelChanged1()" class="fieldsetinput" name="ProductCodes" #ProductCodes="ngModel" [(ngModel)]="Inventory_ID" placeholder="Select Inventory">
                                            <option  value="" disabled>-- Please Select Inventory --</option>
                                            <option *ngFor="let product of Products; let i = index;" [value]="product._id">{{product.Name}}</option>
                                        </select> -->


                                        <section>
                                            <label class="control-label">Quantity</label>
                                            <label class="input" style="padding: 19px 0 0 0px;margin: 0 -22px;">
                                                <input  [ngModelOptions]="{standalone: true}" placeholder="Quantity" (change)="modelChanged2()" type="number" class="fieldsetinput" name="Quantitys" #Quantitys="ngModel" [(ngModel)]="Quantity"><br>
                                            </label>
                                        </section>

                                        <div *ngIf="showerror2" class="invalid-feedback">
                                            <div *ngIf="showerror2">Please Enter Quantity</div>
                                        </div>
                                    </fieldset>

                                </div>
                                <div class="col-sm-5" style="display: none;">
                                    <fieldset class='transfer-order'>
                                        <section>
                                            <label class="control-label">Quantity</label>
                                            <label class="input">
                                                <input  [ngModelOptions]="{standalone: true}" placeholder="Quantity" (change)="modelChanged2()" type="number" class="fieldsetinput" name="Quantitys" #Quantitys="ngModel" [(ngModel)]="Quantity"><br>
                                            </label>
                                            <div *ngIf="showerror2" class="invalid-feedback">
                                                <div *ngIf="showerror2">Please Enter Quantity</div>
                                            </div>
                                        </section>
                                    </fieldset>

                                </div>
                                <div class="col-sm-2 col-xs-3 inputButtonMobile">
                                    <button type="button" (click)="addProduct()" class="btn btn-success">+ ADD</button>
                                </div>
                                <div class="clearfix"></div>
                                <fieldset *ngIf="ToolkitInventories.length > 0">
                                    <h3><b>Inventory List</b></h3>
                                    <div class="col-md-12">
                                        <table class="table table-bordered responsivetable">
                                            <thead>
                                                <tr>
                                                    <th>Sr No.</th>
                                                    <th>Inventory Name</th>
                                                    <th>Quantity</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let product of ToolkitInventories; let i = index;">
                                                    <td>{{i+1}}</td>
                                                    <td>{{product.Name}}</td>
                                                    <td>{{product.Quantity}}</td>
                                                    <td><span (click)="deleteProduct(product._id, i)"><i class="fa fa-times"></i></span></td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </fieldset>

                                <div class="clearfix"></div>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitForm()" class="btn btn-success">
                                        Save
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()" class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner" [diameter]="30" class="form-spinner" color="primary" mode='indeterminate' value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>