<div id="content" class="transfer-order budget-report">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Reports', 'Order']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="filter-data">
                                <br>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="customerCtrl" #singleSelect (selectionChange)="onChangeCustomers()">
                                                        <mat-select-search [formControl]="customerFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Dealer</mat-option>
                                                        <mat-option *ngFor="let item of filteredCustomers" [value]="item._id">
                                                            {{item.FirstName}} {{item.LastName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="productCtrl" #singleSelect (selectionChange)="onChangeProducts()">
                                                        <mat-select-search [formControl]="productFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Product</mat-option>
                                                        <mat-option *ngFor="let item of filteredProducts" [value]="item._id">
                                                            {{item.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Request" [(ngModel)]="orderFilterData.RequestID" class="form-control" placeholder="Request ID">
                                    </div>
                                    <div class="col-md-2">
                                        <select name="status" [(ngModel)]="orderFilterData.Status" class="form-control">
                                            <option value="0">select status</option>
                                            <option *ngFor="let item of allOrderStatus" [value]="item.value">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customername" [(ngModel)]="orderFilterData.CustomerName" class="form-control" placeholder="Customer Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customermobile" [(ngModel)]="orderFilterData.CustomerMobile" class="form-control" placeholder="Customer Mobile No">
                                    </div>
                                    <div class="col-md-12" style="height: 5px;"></div>
                                    <!--<div class="col-md-2">-->
                                    <!--<select name="ServiceType" [(ngModel)]="orderFilterData.ServiceType"-->
                                    <!--class="form-control">-->
                                    <!--<option value="0">select service type</option>-->
                                    <!--<option value="Demo">Demo</option>-->
                                    <!--<option value="Instrument">Instrument</option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <div class="col-md-2">
                                        <input name="productcode" [(ngModel)]="orderFilterData.ProductCode" class="form-control" placeholder="Product Code">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="fromdate" [(ngModel)]="orderFilterData.FromDate" class="form-control" placeholder="from date">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="todate" [(ngModel)]="orderFilterData.ToDate" class="form-control" placeholder="To Date">
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="text-align: right;">
                                        <button (click)="exportOrderAsXLSX()" [disabled]="selectedOrder.length == 0" class="btn btn-primary">Export to excel &nbsp;&nbsp;<i class="fa fa-file-excel-o"></i></button>&nbsp;&nbsp;
                                        <button (click)="clearOrderWise()" class="btn btn-warning">clear</button>&nbsp;&nbsp;
                                        <button (click)="filterOrderWise()" class="btn btn-success">search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-report reports-container mat-elevation-z8" id="reportTable">

                                <div class="reports-table-container col-md-12">
                                    <table class="rwd-table" mat-table [dataSource]="dataSource" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="orderTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S.No
                                            </th>
                                            <td data-th="S.No" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                        </ng-container>

                                        <!-- RequestID Column -->
                                        <ng-container matColumnDef="RequestID">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Request ID
                                            </th>
                                            <td data-th="RequestID" mat-cell *matCellDef="let row"> {{row.RequestID}}
                                            </td>
                                        </ng-container>

                                        <!-- ServiceType Column -->
                                        <ng-container matColumnDef="ServiceType">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Service Type
                                            </th>
                                            <td data-th="Service Type" mat-cell *matCellDef="let row"> {{row.ServiceType}}</td>
                                        </ng-container>

                                        <!-- ProductConsumable Column -->
                                        <ng-container matColumnDef="ProductConsumable">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                ProductConsumable
                                            </th>
                                            <td data-th="ProductConsumable" mat-cell *matCellDef="let row"> {{row.ProductConsumable}}</td>
                                        </ng-container>

                                        <!-- SalesPerson Column -->
                                        <ng-container matColumnDef="SalesPerson">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 105px;">
                                                Dealer
                                            </th>
                                            <td [attr.data-th]="'Dealer'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.FirstName}} {{row.SalesPersonID.LastName}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SalesPersonContact Column -->
                                        <ng-container matColumnDef="SalesPersonContact">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 105px;">
                                                Phone
                                            </th>
                                            <td [attr.data-th]="'Phone'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.Phone}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- UserLast Column -->
                                        <ng-container matColumnDef="UserLast">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                User Last Name
                                            </th>
                                            <td data-th="User Last Name" mat-cell *matCellDef="let row"> {{row.UserID.LastName}}</td>
                                        </ng-container>

                                        <!-- CreatedDate Column -->
                                        <ng-container matColumnDef="CreatedDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Created Date
                                            </th>
                                            <td data-th="Created Date" mat-cell *matCellDef="let row"> {{row.CreatedDate | date: 'dd MMM yyyy'}}</td>
                                        </ng-container>

                                        <!-- DeliveryLocation Column -->
                                        <ng-container matColumnDef="DeliveryLocation">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Delivery Location
                                            </th>
                                            <td data-th="Delivery Location" mat-cell *matCellDef="let row"> {{row.DeliveryLocation}}</td>
                                        </ng-container>

                                        <!-- ProductQuantity Column -->
                                        <ng-container matColumnDef="Quantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Product Quantity
                                            </th>
                                            <td [attr.data-th]="'ProductQuantity'" mat-cell *matCellDef="let row"> {{row.Products.length}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalQuantity()}} </td>
                                        </ng-container>

                                        <!-- TotalAmount Column -->
                                        <ng-container matColumnDef="TotalAmount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                TotalAmount
                                            </th>
                                            <td [attr.data-th]="'TotalAmount'" mat-cell *matCellDef="let row"> {{row.TotalAmount | currency: 'INR'}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalAmount() | currency: 'INR'}} </td>
                                        </ng-container>

                                        <!-- Action Column -->
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef id="orderTableActionButton">Action
                                            </th>
                                            <td data-th="Action" mat-cell *matCellDef="let row">
                                                <a class="btn btn-warning" (click)="openDialog(row)" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>