<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta charset="utf-8">
    <!-- utf-8 works for most cases -->
    <meta name="viewport" content="width=device-width">
    <!-- Forcing initial-scale shouldn't be necessary -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Use the latest (edge) version of IE rendering engine -->
    <meta name="x-apple-disable-message-reformatting">
    <!-- Disable auto-scale in iOS 10 Mail entirely -->
    <title>Order Request</title>
    <!-- The title tag shows in email notifications, like Android 4.4. -->


    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Progressive Enhancements : BEGIN -->
    <style>
        p a {
            color: #fff;
        }
    </style>


</head>

<body width="100%" style="margin: 0; padding: 0 !important; mso-line-height-rule: exactly; background-color: #222222;">
    <center style="width: 100%; background-color: #f1f1f1;">
        <div style="max-width: 600px; margin: 0 auto;" class="email-container">
            <!-- BEGIN BODY -->
            <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%" style="margin: auto;">
                <tr style="background-color: #fff;">
                    <td class="bg_white logo" style="padding: 1em 2.5em; text-align: center">
                        <h1><a href="#" style="color: #2f1e5e;">Stryker India</a></h1>
                    </td>
                </tr>
                <tr style="background-color: #2f1e5e; color: #fff;">
                    <td class="bg_white">
                        <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                            <tr>
                                <td class="bg_dark email-section" style="text-align:left;">
                                    <div class="heading-section heading-section-white" style="padding: 35px;">

                                        <p style="color: #fff;">Dear, {{SalesPerson.Name}}!</p>
                                        <p style="color: #fff;">We regret to inform you that you recent request has been denied. After reviewing your request, we have determined that it would not be possible to accommodate your request with this information.<br><br>
                                        </p>
                                        <p style="color: #fff;">
                                            Email : {{SalesPerson.Email}} <br> Name : {{SalesPerson.Name}} <br> Mobile No : {{SalesPerson.Phone}} <br><br> Service Type : {{OrderDetail.ServiceType}} <br> RequestID : {{OrderDetail.RequestID}} <br> Delivery
                                            Location : {{OrderDetail.DeliveryLocation}} <br> Schedule Return Date : {{OrderDetail.ScheduleReturnDate}} <br>
                                        </p>
                                        <p style="color: #fff;">Message : {{Detail}}</p>
                                        <p style="color: #fff;">Product Detail:-</p>
                                        <table class="table table-responsoive">
                                            <thead>
                                                <th style="width:50%;color: #fff;text-align: left;border-bottom: 1px dotted;">Name</th>
                                                <!-- <th style="width:15%;color: #fff;text-align: left;border-bottom: 1px dotted;">Consumable</th> -->
                                                <th style="width:20%;color: #fff;text-align: left;border-bottom: 1px dotted;">Product Code</th>
                                                <th style="width:15%;color: #fff;text-align: left;border-bottom: 1px dotted;">Quantity</th>
                                            </thead>
                                            <tbody>
                                                {{#each Product}}
                                                <tr>
                                                    <td style="color: #fff;">{{this.ProductID.Name}}</td>
                                                    <!-- <td style="color: #fff;">{{this.ProductConsumable}}</td> -->
                                                    <td style="color: #fff;">{{this.ProductID.ProductCode}}</td>
                                                    <td style="color: #fff;">{{this.Quantity}}</td>
                                                </tr>
                                                {{/each}}
                                            </tbody>
                                        </table>
                                        <p style="color: #fff;"><a href="{{ServerLink}}">{{ServerLink}}</a></p>
                                        <p style="color: #fff;"><br><br><br> We strongly suggest you resubmit your request, with all the required detail.</p>
                                        <p style="color: #fff;">Sincerely,<br>Stryker India</p>
                                    </div>
                                </td>
                            </tr>
                            <!-- end: tr -->


                        </table>

                    </td>
                </tr>
                <!-- end:tr -->
                <!-- 1 Column Text + Button : END -->
            </table>


        </div>
    </center>

</html>