<h1 mat-dialog-title>Order Detail</h1>
<section class="position-relative">
    <i class="fa fa-times text-danger close-button" (click)="onNoClick()"></i>
</section>
<div mat-dialog-content *ngIf="orderDetail">
    <div class="col-md-3">
        <h6><strong>Basic Detail</strong></h6>
        <hr>
        <label><strong>Order Created: </strong>{{orderDetail.CreatedDate | date: 'dd MMM yyyy'}}</label><br>
        <label><strong>Service Type: </strong>{{orderDetail.ServiceType}}</label><br>
        <label><strong>Request ID: </strong>{{orderDetail.RequestID}}</label><br>
        <label><strong>Delivery Location: </strong>{{orderDetail.DeliveryLocation}}</label><br>

        <label><strong>Status: </strong>{{allStatus[orderDetail.Status]}}</label><br>

        <label *ngIf="acknowledgeDetail"><strong>Remarks: </strong>{{acknowledgeDetail.Remarks}}</label>
        <span *ngIf="acknowledgeDetail"><br></span>
        <label *ngIf="currentUser.RoleID && currentUser.RoleID.Description != 'Dealer'"><strong>Total Amount: </strong>{{orderDetail.TotalAmount | currency: 'INR'}}<br></label>
        <span *ngIf="currentUser.RoleID && currentUser.RoleID.Description != 'Dealer'"><br></span>
    </div>
    <div class="col-md-3" *ngIf="orderDetail.CustomerDetails && orderDetail.CustomerDetails.CustomerName">
        <h6><strong>Customer Detail</strong></h6>
        <hr>
        <label *ngIf="orderDetail.CustomerDetails.CustomerName"><strong>Name: </strong>{{orderDetail.CustomerDetails.CustomerName}}</label>
        <span *ngIf="orderDetail.CustomerDetails.CustomerName"><br></span>

        <label *ngIf="orderDetail.CustomerDetails.Mobile"><strong>Contact No: </strong>{{orderDetail.CustomerDetails.Mobile}}</label>
        <span *ngIf="orderDetail.CustomerDetails.Mobile"><br></span>

        <label *ngIf="orderDetail.CustomerDetails.Email"><strong>Email-ID: </strong>{{orderDetail.CustomerDetails.Email}}</label>
        <span *ngIf="orderDetail.CustomerDetails.Email"><br></span>

        <label *ngIf="orderDetail.CustomerDetails.Address"><strong>Address: </strong>{{orderDetail.CustomerDetails.Address}}</label>
        <span *ngIf="orderDetail.CustomerDetails.Address"><br></span>

        <label *ngIf="orderDetail.CustomerDetails.ContactPerson"><strong>Contact Person: </strong>{{orderDetail.CustomerDetails.ContactPerson}}</label>
        <span *ngIf="orderDetail.CustomerDetails.ContactPerson"><br></span>

        <label *ngIf="orderDetail.CustomerDetails.ContactPersonMobile"><strong>Contact Person Mobile No: </strong>{{orderDetail.CustomerDetails.ContactPersonMobile}}</label>
        <span *ngIf="orderDetail.CustomerDetails.ContactPersonMobile"><br></span>
    </div>
    <div class="col-md-3" *ngIf="orderDetail.SalesPersonID">
        <h6><strong>Dealer Detail</strong></h6>
        <hr>
        <!--<img src="assets/img/avatars/sunny.png" width="50" height="50" alt="user"><br><br>-->
        <label><strong>Name: </strong>{{orderDetail.SalesPersonID.FirstName}} {{orderDetail.SalesPersonID.LastName}}</label><br>
        <label><strong>Contact No: </strong>{{orderDetail.SalesPersonID.Phone}}</label><br>
        <label><strong>Email-ID: </strong>{{orderDetail.SalesPersonID.Email}}</label><br>
        <label><strong>Address: </strong>{{orderDetail.SalesPersonID.Address}}</label><br>
        <label *ngIf="orderReturDetail && orderReturDetail.PickUpDate"><strong>PickUp Date: </strong>{{orderReturDetail.PickUpDate | date: 'dd MMM yyyy'}}</label>
        <span *ngIf="orderReturDetail && orderReturDetail.PickUpDate"><br></span>
        <label *ngIf="orderReturDetail && orderReturDetail.PickUpLocation"><strong>PickUp Location: </strong>{{orderReturDetail.PickUpLocation}}</label>
    </div>


    <div class="col-md-3" *ngIf="dispatchDetail">
        <h6><strong>Dispatched Detail</strong></h6>
        <hr>
        <label *ngIf="dispatchDetail.HAWB_No"><strong>HAWB No: </strong>{{dispatchDetail.HAWB_No}}</label>
        <span *ngIf="dispatchDetail.HAWB_No"><br></span>
        <label *ngIf="dispatchDetail.HAWB_Date"><strong>HAWB Date: </strong>{{dispatchDetail.HAWB_Date | date : 'dd MMM yyyy'}}</label>
        <span *ngIf="dispatchDetail.HAWB_Date"><br></span>
        <label *ngIf="dispatchDetail.ETA"><strong>ETA: </strong>{{dispatchDetail.ETA  | date : 'dd MMM yyyy'}}</label>
        <span *ngIf="dispatchDetail.ETA"><br></span>
        <label *ngIf="dispatchDetail.Invoice_Date"><strong>Invoice Date: </strong>{{dispatchDetail.Invoice_Date  | date : 'dd MMM yyyy'}}</label>
        <span *ngIf="dispatchDetail.Invoice_Date"><br></span>
        <label *ngIf="dispatchDetail.JDE_Invoice_No"><strong>JDE Invoice No: </strong>{{dispatchDetail.JDE_Invoice_No}}</label>
        <span *ngIf="dispatchDetail.JDE_Invoice_No"><br></span>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12">
        <label *ngIf="orderDetail.ScheduleReturnDate">
            <strong>Schedule Return Date:</strong>&nbsp;&nbsp;
            <input [disabled]="true" min="{{currentDate | date:'yyyy-MM-dd'}}" type="date" name="scheduledReturnDate" [ngModel]="scheduledReturnDate | date:'yyyy-MM-dd'" (ngModelChange)="scheduledReturnDate = $event">
            
        </label>
    </div>

    <div class="clearfix"></div>

    <div class="col-md-12" *ngIf="orderDetail.DeclineReasonMessage || orderDetail.ReasonMessage">
        <label *ngIf="orderDetail.DeclineReasonMessage" style="color: red;">Note:- {{orderDetail.DeclineReasonMessage}}</label><br>
        <label *ngIf="orderDetail.ReasonMessage" style="color: red;">Note:- {{orderDetail.ReasonMessage}}</label><br>
    </div>

    <!-- Product detail -->
    <div class="col-md-12" *ngIf="orderDetail.Products.length > 0">
        <h6><strong>Product Detail</strong></h6>
        <hr>
        <table class="table table-bordered table-responsive-md table-striped text-center rwd-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product Code</th>
                    <th>Product Consumable</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                    <th>Inventory</th>
                    <th>Branch Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderDetail.Products; let id = index">
                    <td data-th="Name">{{item.ProductID.Name}}</td>
                    <td data-th="Product Code">{{item.ProductID.ProductCode}}</td>
                    <td data-th="Product Consumable"><input type="text" style="width: 100px;" [disabled]="!(enableEdit == id)" [(ngModel)]="item.ProductConsumable" (blur)="updateList(id, 'ProductConsumable', $event.target.value)"></td>
                    <td data-th="Quantity"><input type="number" style="width: 100px;" [disabled]="!(enableEdit == id)" [(ngModel)]="item.Quantity" (blur)="updateList(id, 'Quantity', $event)"></td>
                    <td data-th="Product Price"><input type="number" style="width: 100px;" [disabled]="!(enableEdit == id)" [(ngModel)]="item.Price" (blur)="updateList(id, 'Price', $event)"></td>
                    <td data-th="Total Amount">{{(item.Price * item.Quantity) | currency: 'INR'}}</td>
                    <td data-th="Inventory"><input type="text" style="width: 120px;" [disabled]="!(enableEdit == id)" [(ngModel)]="item.Inventory" (blur)="updateList(id, 'Inventory', $event)"></td>
                    <td data-th="Branch Code"><input type="text" style="width: 100px;" [disabled]="!(enableEdit == id)" [(ngModel)]="item.BranchCode" (blur)="updateList(id, 'BranchCode', $event)"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- return product detail -->
    <div class="col-md-12" *ngIf="orderDetail.IsReturned">
        <h6><strong>Returned Product Detail</strong></h6>
        <hr>
        <table class="table table-bordered table-responsive-md table-striped text-center rwd-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product Code</th>
                    <th>Product Consumable</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                    <th>Inventory</th>
                    <th>Branch Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderDetail.ReturnProducts; let id = index">
                    <td data-th="Name">{{item.ProductID.Name}}</td>
                    <td data-th="Product Code">{{item.ProductID.ProductCode}}</td>
                    <td data-th="Product Consumable">{{item.ProductConsumable}}</td>
                    <td data-th="Quantity">{{item.Quantity}}</td>
                    <td data-th="Product Price">{{item.Price}}</td>
                    <td data-th="Total Amount">{{(item.Price * item.Quantity) | currency: 'INR'}}</td>
                    <td data-th="Inventory">{{item.Inventory}}</td>
                    <td data-th="Branch Code">{{item.BranchCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- return request product detail -->
    <div class="col-md-12" *ngIf="orderDetail.Status == 7 && orderReturDetail">
        <h6><strong>Product in return request</strong></h6>
        <hr>
        <table class="table table-bordered table-responsive-md table-striped text-center rwd-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product Code</th>
                    <th>Product Consumable</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                    <th>Inventory</th>
                    <th>Branch Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of orderReturDetail.Products; let id = index">
                    <td data-th="Name">{{item.ProductID.Name}}</td>
                    <td data-th="Product Code">{{item.ProductID.ProductCode}}</td>
                    <td data-th="Product Consumable">{{item.ProductConsumable}}</td>
                    <td data-th="Quantity">{{item.Quantity}}</td>
                    <td data-th="Product Price">{{item.Price}}</td>
                    <td data-th="Total Amount">{{(item.Price * item.Quantity) | currency: 'INR'}}</td>
                    <td data-th="Inventory">{{item.Inventory}}</td>
                    <td data-th="Branch Code">{{item.BranchCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- return request product detail -->
    <div class="col-md-12" *ngIf="transferDetail && transferDetail.Status == 1 && productInTransferRequest.length > 0">
        <h6><strong>Product in transfer request</strong></h6>
        <hr>
        <table class="table table-bordered table-responsive-md table-striped text-center rwd-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Product Code</th>
                    <th>Product Consumable</th>
                    <th>Quantity</th>
                    <th>Product Price</th>
                    <th>Total Amount</th>
                    <th>Inventory</th>
                    <th>Branch Code</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of productInTransferRequest; let id = index">
                    <td data-th="Name">{{item.ProductID.Name}}</td>
                    <td data-th="Product Code">{{item.ProductCode}}</td>
                    <td data-th="Product Consumable">{{item.ProductConsumable}}</td>
                    <td data-th="Quantity">{{item.Quantity}}</td>
                    <td data-th="Product Price">{{item.Price}}</td>
                    <td data-th="Total Amount">{{(item.Price * item.Quantity) | currency: 'INR'}}</td>
                    <td data-th="Inventory">{{item.Inventory}}</td>
                    <td data-th="Branch Code">{{item.BranchCode}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
    <br>
    <div class="col-md-6" *ngIf="orderTimeLineDetail && orderTimeLineDetail.length > 0">
        <div class="smart-timeline">
            <h6><strong>Order Time Line</strong></h6>
            <hr>
            <ul class="smart-timeline-list">
                <li *ngFor="let item of orderTimeLineDetail">
                    <div class="smart-timeline-icon">
                        <img src="assets/img/avatars/sunny.png" width="32" height="32" alt="user">
                    </div>
                    <div class="smart-timeline-time">
                        <small>{{item.ModificationDate | date: 'dd-MMM-yyyy hh:mm a'}}</small>
                    </div>
                    <div class="smart-timeline-content">
                        <p>
                            <a (click)="(null)"><strong>{{allStatus[item.Status]}}</strong></a>
                        </p>
                        <p>
                            {{item.Message}} {{item.ModifiedBy ? 'by ' + item.ModifiedBy.FirstName + ' ' + item.ModifiedBy.LastName : ''}} -
                            <strong style="color: #3276b1;">{{orderDetail.RequestID}}</strong>
                        </p>
                        <p>
                            {{item.Description}}
                        </p>
                        <a *ngIf="item.Attachment" [href]="apiUrl + '/' + item.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h6><strong>Attached files</strong></h6>
        <hr>
        <!--<a title="file attached in order create" [href]="apiUrl + '/' + orderDetail.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>-->
        <span *ngIf="dispatchDetail && dispatchDetail.Documents">
            <a title="document attached in final update order" *ngFor="let item of dispatchDetail.Documents" [href]="apiUrl + '/' + item" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
        </span>

        <a title="excel atteched in dispatched order" *ngIf="dispatchDetail && dispatchDetail.ProductDetailAttachment" [href]="apiUrl + '/' + dispatchDetail.ProductDetailAttachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-excel-o" style="font-size: 30px;"></i></a>
        <a title="pdf attached in dispatched order" *ngIf="dispatchDetail && dispatchDetail.ProductInstructionPdf" [href]="apiUrl + '/' + dispatchDetail.ProductInstructionPdf" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-pdf-o" style="font-size: 30px;"></i></a>

        <a title="order image uploaded by Dealer" *ngIf="acknowledgeDetail && acknowledgeDetail.Picture" [href]="apiUrl + '/' + acknowledgeDetail.Picture" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
    </div>
</div>