<div class="icon-section">
    <img  src="assets/img/success-dialog.png" />
</div>
<div mat-dialog-content>
  <p>Request submitted successfully !!</p>
 
</div>
<div style="text-align: center;">
  <button  class="btn btn-black btn-ok" (click)="ok()">Ok</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->