<div id="content">
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Customer', 'Add']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Customer', 'Edit']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showForm">
                            <form [formGroup]="CustomerForm" id="smart-form-register" class="smart-form client-form"
                                  novalidate="novalidate" [saUiValidate]="validationCustomerFormDetailOptions">
                                <fieldset>
                                    <!--<section>-->
                                        <!--<label class="control-label">Avatar</label>-->
                                        <!--<label class="input">-->
                                            <!--<input type="file" name="Avatar" formControlName="Avatar"-->
                                                   <!--placeholder="Avatar" (change)="onFileChange($event)">-->
                                            <!--<b class="tooltip tooltip-bottom-right">Avatar</b>-->
                                            <!--<small>File size must be in between 0KB and 10KB.Dimensions 100px * 100px and file type must be jpg, jpeg and png only.</small>-->
                                        <!--</label>-->
                                    <!--</section>-->
                                    <section>
                                        <label class="control-label">CustomerName</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-customer"></i>
                                            <input name="CustomerName" type="text" formControlName="CustomerName"
                                                   placeholder="CustomerName">
                                            <b class="tooltip tooltip-bottom-right">CustomerName</b>
                                        </label>
                                    </section>
                                    <section *ngIf="ID == '-1'">
                                        <label class="control-label">Password</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-key"></i>
                                            <input id="customer-password" name="Password" [type]="showPassword ? 'text' : 'password'" formControlName="Password"
                                                   placeholder="Password">
                                            <i *ngIf="!showPassword" class="icon-append fa fa-eye my-anchor" style="color: #3276b1;" (click)="passwordShowHide()"></i>
                                            <i *ngIf="showPassword" class="icon-append fa fa-eye-slash my-anchor" style="color: #3276b1;" (click)="passwordShowHide()"></i>
                                            <b class="tooltip tooltip-bottom-right">Password</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">First Name</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-customer"></i>
                                            <input name="FirstName" type="text" formControlName="FirstName"
                                                   placeholder="First Name">
                                            <b class="tooltip tooltip-bottom-right">First Name</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Last Name</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-customer"></i>
                                            <input name="LastName" type="text" formControlName="LastName"
                                                   placeholder="Last Name">
                                            <b class="tooltip tooltip-bottom-right">Last Name</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Email</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-envelope-o"></i>
                                            <input name="Email" type="email" formControlName="Email"
                                                   placeholder="Email">
                                            <b class="tooltip tooltip-bottom-right">Email</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Gender</label>
                                        <div class="inline-group">
                                            <label class="radio">
                                                <input value="Male" type="radio" name="Gender" formControlName="Gender"  checked="">
                                                <i></i>Male</label>
                                            <label class="radio">
                                                <input value="Female" type="radio" formControlName="Gender" name="Gender">
                                                <i></i>Female</label>
                                        </div>
                                    </section>
                                    <!--<section>-->
                                        <!--<label class="label"-->
                                               <!--style="color: black;font-size: 75%;font-weight: 700;margin-bottom: 0;">Gender</label>-->
                                        <!--<label class="radio">-->
                                            <!--<input type="radio" formControlName="Gender" name="Gender" value="Male">-->
                                            <!--<i></i>Male</label>-->
                                        <!--<label class="radio">-->
                                            <!--<input type="radio" formControlName="Gender" name="Gender" value="Female">-->
                                            <!--<i></i>Female</label>-->
                                    <!--</section>-->
                                    <section>
                                        <label class="control-label">Mobile No</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-phone"></i>
                                            <input name="Phone" type="number" formControlName="Phone"
                                                   placeholder="Mobile No">
                                            <b class="tooltip tooltip-bottom-right">Mobile No</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Role</label>
                                        <label class="input">
                                            <select name="RoleID" formControlName="RoleID" (change)="onChangeRole($event.target.value)"
                                                    class="form-control">
                                                <option disabled value="0">select role</option>
                                                <option *ngFor="let item of allRoles" [value]="item._id">
                                                    {{item.Name}}
                                                </option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Role</b>
                                        </label>
                                    </section>
                                    <section *ngIf="showRangeSlider">
                                        <!--<ng5-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="rangeSliderOptions"></ng5-slider>-->
                                        <label class="control-label">Cost Level</label>
                                        <label class="input">
                                            <select name="CostLevel" formControlName="CostLevel"
                                                    class="form-control">
                                                <option disabled value="0">select cost level</option>
                                                <option *ngFor="let item of allCostLevels" [value]="item._id">
                                                    {{item.MinRange}} - {{item.MaxRange}}
                                                </option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Cost Level</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label" style="color: black;">Address</label>
                                        <label class="input" style="width: 100%;">
                                            <textarea name="Address" formControlName="Address" name="Address"
                                                      class="form-control input-md" rows="4"
                                                      placeholder="Please post your address here."></textarea>
                                            <b class="tooltip tooltip-bottom-right">Address</b> </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitForm()"
                                            class="btn btn-success">
                                        Save
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                            class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner"
                                                          [diameter]="30"
                                                          class="form-spinner"
                                                          color="primary"
                                                          mode='indeterminate'
                                                          value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
