<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Customers', 'List']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">


                    <div>
                        <div class="widget-body no-padding">

                            <div style="margin: 10px 20px;border: 1px solid #eae8e8;">
                                <input style="border: none;margin: 5px;" id="user_filter" matInput (keyup)="applyFilter($event.target.value)"
                                       placeholder="Filter">
                            </div>
                            <div class="table-user users-container mat-elevation-z8" id="customerTable">
                                <div class="users-loading-shade"
                                     *ngIf="isLoadingResults || isRateLimitReached">
                                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                                    <div class="users-rate-limit-reached" *ngIf="isRateLimitReached">
                                        API rate limit has been reached. It will be reset in one minute.
                                    </div>
                                </div>

                                <div class="users-table-container">
                                    <table mat-table [dataSource]="dataSource" class="rwd-table" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="userTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn"
                                                style="width: 80px;"> S. No
                                            </th>
                                            <td data-th="S. No" mat-cell *matCellDef="let row ; let i = index;" class="padding-left-zero-mob"> {{i+1}}</td>
                                        </ng-container>

                                        <!-- UserName Column -->
                                        <ng-container matColumnDef="FirstName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Customer Name
                                            </th>
                                            <td data-th="Customer Name" mat-cell *matCellDef="let row"> {{row.FirstName}}</td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Address">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 350px!important;">
                                                Address
                                            </th>
                                            <td data-th="Address" mat-cell *matCellDef="let row"> {{row.Address}}
                                            </td>
                                        </ng-container>

                                        <!-- Role Column -->
                                        <ng-container matColumnDef="Phone">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="min-width: 50px!important;">
                                                Phone No.
                                            </th>
                                            <td data-th="Phone" mat-cell *matCellDef="let row"> {{row.Phone}}
                                            </td>
                                        </ng-container>

                                        <!-- Email Column -->
                                        <ng-container matColumnDef="Email">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header  style="min-width: 60px!important; ">
                                                Email ID
                                            </th>
                                            <td data-th="Email" mat-cell *matCellDef="let row"> {{row.Email}}</td>
                                        </ng-container>



                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4">No
                                    record found.
                                </div>
                                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>