<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space">
        <span class="hidden-mobile hiddex-xs">Already registered?</span> <a routerLink="/auth/login" class="btn btn-danger">Sign In</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

    <!-- MAIN CONTENT -->
    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
                <h1 class="txt-color-red login-header-big">Instrument tracking tool</h1>
                <div class="hero">

                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">It's Okay to be Smart. Experience the simplicity of SmartAdmin, everywhere you go!</h4>
                        <div class="login-app-icons">
                            <a routerLink="/dashboard/analytics" class="btn btn-danger btn-sm">Frontend Template</a>
                            <a routerLink="/smartadmin/app-layouts" class="btn btn-danger btn-sm">Find out more</a>
                        </div>
                    </div>

                    <img src="assets/img/demo/iphoneview.png" alt="" class="pull-right display-image" style="width:210px">

                </div>

                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">About Instrument tracking tool - Are you up to date?</h5>
                        <p>
                            Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Not just your average template!</h5>
                        <p>
                            Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi voluptatem accusantium!
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                <div class="well no-padding">

                    <form id="smart-form-register" class="smart-form client-form">
                        <header>
                            Registration Form
                        </header>

                        <fieldset>
                            <section>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="username" placeholder="Username">
                                    <b class="tooltip tooltip-bottom-right">Needed to enter the website</b> </label>
                            </section>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="Email address">
                                    <b class="tooltip tooltip-bottom-right">Needed to verify your account</b> </label>
                            </section>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" placeholder="Password" id="password">
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                            </section>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="passwordConfirm" placeholder="Confirm password">
                                    <b class="tooltip tooltip-bottom-right">Don't forget your password</b> </label>
                            </section>
                        </fieldset>

                        <fieldset>
                            <div class="row">
                                <section class="col col-6">
                                    <label class="input">
                                        <input type="text" name="firstname" placeholder="First name">
                                    </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input">
                                        <input type="text" name="lastname" placeholder="Last name">
                                    </label>
                                </section>
                            </div>

                            <div class="row">
                                <section class="col col-6">
                                    <label class="select">
                                        <select name="gender">
                                            <option value="0" selected disabled>Gender</option>
                                            <option value="1">Male</option>
                                            <option value="2">Female</option>
                                            <option value="3">Prefer not to answer</option>
                                        </select> <i></i> </label>
                                </section>
                                <section class="col col-6">
                                    <label class="input"> <i class="icon-append fa fa-calendar"></i>
                                        <input type="text" name="request" placeholder="Request activation on"
                                               class="datepicker" data-dateformat="dd/mm/yy">
                                    </label>
                                </section>
                            </div>

                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="subscription" id="subscription">
                                    <i></i>I want to receive news and special offers</label>
                                <label class="checkbox">
                                    <input type="checkbox" name="terms" id="terms" [(ngModel)]="termsAgreed">
                                    <i></i>I agree with the <a href="#" (click)="openModal($event, termsModal)"> Terms
                                    and Conditions </a></label>
                            </section>
                        </fieldset>
                        <footer>
                            <button (click)="register($event)" class="btn btn-primary">
                                Register
                            </button>
                        </footer>

                        <div class="message">
                            <i class="fa fa-check"></i>
                            <p>
                                Thank you for your registration!
                            </p>
                        </div>
                    </form>

                </div>
                <p class="note text-center">*FREE Registration ends on October 2019.</p>
                <!--<h5 class="text-center">- Or sign in using -</h5>-->
                <!--<ul class="list-inline text-center">-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>

</div>


<!-- <ng-container  *ngComponentOutlet="TermsModalComponent"></ng-container> -->

<ng-template #termsModal>
    <smart-terms-modal (agree)="onTermsAgree()" (close)="onTermsClose()"></smart-terms-modal>

</ng-template>