<div class="icon-section">
    <img  src="assets/img/return-dialog.png" />
</div>
<div mat-dialog-content>
  <p>Are you sure to return selcted order?</p>
 
</div>
<div class="saleperson">
  <button  class="btn btn-black btn-yes">Yes</button>
  <button  class="btn btn-black btn-no">Ok</button>
</div>


<!-- Copyright 2019 Google LLC. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->