<div id="content" class="saleperson">
    

    <div class="row">

            <div class="col-xs-12">
                <div class="customerdetails">
                    <form [formGroup]="AckForm" novalidate="novalidate" [saUiValidate]="validationAckFormDetailOptions">

                        <!-- <section>
                              <label class="control-label">Picture</label>
                              <label class="input">
                                  <input type="file" name="Picture" formControlName="Picture"
                                         placeholder="Picture" (change)="onFileChange($event)">
                                  <b class="tooltip tooltip-bottom-right">Picture</b>
                                  <small><p>File size must be in between 0KB and 10KB.Dimensions 100px * 100px and file type must be jpg, jpeg and png only.</p></small>
                              </label>
                          </section> -->
                        <!-- <section>
                              <label class="control-label">Remarks</label>
                              <label class="input">
                                  <textarea name="Remarks" type="text" formControlName="Remarks"
                                         placeholder="Remarks" rows="10" style="width: 100%;"></textarea>
                                  <b class="tooltip tooltip-bottom-right">Remarks</b>
                              </label>
                          </section> -->
                        <p>Request ID : {{RequestID}}</p>
                        <fieldset>
                            <legend>Dealer</legend>
                            <select name="CustomerID" class="fieldsetinput" formControlName="CustomerID"
                                                    >
                                                <option disabled value="0">Select Customer and Selesperson</option>
                                                <option *ngFor="let item of allUsers" [value]="item._id">
                                                    {{item.FirstName}} {{item.LastName}}
                                                </option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Role</b>

                            
                        </fieldset>
                        <br/><br/>
                        

                        <div class="buttons-footer">

                            <button type="submit" *ngIf="!showSpinner" (click)="onSubmitForm()" class="btn btn-black btn-save">
                                Transfer
                            </button>
                            <!-- <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                  class="btn btn-warning">
                              Cancel
                          </button> -->
                            <mat-progress-spinner *ngIf="showSpinner" [diameter]="30" class="form-spinner"
                                color="primary" mode='indeterminate' value="5">
                            </mat-progress-spinner>
                        </div>

                    </form>


                </div>

            </div>
        
    </div>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>