<div id="content" class="transfer-order">
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Add']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Edit']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-8 col-sm-offset-2">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showTransferForm">
                            <form [formGroup]="OrderTransferForm" id="smart-form-register" class="smart-form client-form"
                                  novalidate="novalidate" [saUiValidate]="validationOrderTransferFormDetailOptions">
                                <fieldset>
                                    <section>
                                        <label class="control-label">Select Dealer</label>
                                        <label class="input">
                                            <mat-form-field>
                                                <mat-select [formControl]="customerCtrl" #singleSelect (selectionChange)="onChangeCustomers()">
                                                    <mat-select-search [formControl]="customerFilterCtrl"></mat-select-search>
                                                    <mat-option *ngFor="let item of filteredCustomers" [value]="item._id">
                                                        {{item.FirstName}} {{item.LastName}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </label>
                                    </section>
                                    <!-- <section>
                                        <label class="control-label">Dealer</label>
                                        <label class="input">
                                            <select name="CustomerID" formControlName="CustomerID"
                                                    class="form-control">
                                                <option disabled value="0">Select Dealer</option>
                                                <option *ngFor="let item of allSalesPerson" [value]="item._id">{{item.FirstName}} {{item.LastName}}</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Select Dealer</b>
                                        </label>
                                    </section> -->

                                    <section>
                                        <label class="control-label">Customer Name</label>
                                        <label class="input">
                                            <input name="CustomerName" type="text" formControlName="CustomerName"
                                                   placeholder="Customer Name">
                                            <b class="tooltip tooltip-bottom-right">Customer Name</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Customer Mobile</label>
                                        <label class="input">
                                            <input name="Mobile" type="number" formControlName="Mobile"
                                                   placeholder="Customer Mobile">
                                            <b class="tooltip tooltip-bottom-right">Customer Mobile</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Email</label>
                                        <label class="input">
                                            <input name="Email" type="email" formControlName="Email"
                                                   placeholder="Email">
                                            <b class="tooltip tooltip-bottom-right">Email</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Customer Address</label>
                                        <label class="input" style="width: 100%;">
                                            <textarea name="Address" formControlName="Address" name="Address"
                                                      class="form-control input-md" rows="4"
                                                      placeholder="Customer Address"></textarea>
                                            <b class="tooltip tooltip-bottom-right">Address</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Contact Person Name</label>
                                        <label class="input">
                                            <input name="ContactPerson" type="text" formControlName="ContactPerson"
                                                   placeholder="Contact Person Name">
                                            <b class="tooltip tooltip-bottom-right">Contact Person Name</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Contact Person Mobile</label>
                                        <label class="input">
                                            <input name="ContactPersonMobile" type="number" formControlName="ContactPersonMobile"
                                                   placeholder="Contact Person Mobile">
                                            <b class="tooltip tooltip-bottom-right">Contact Person Mobile</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Select Delivery Location</label>
                                        <label class="input">
                                            <mat-form-field>
                                                <mat-select [formControl]="addressCtrl" #singleSelect (selectionChange)="onChangeAddress()">
                                                    <mat-select-search [formControl]="addressFilterCtrl"></mat-select-search>
                                                    <mat-option value="1">Other</mat-option>
                                                    <mat-option *ngFor="let item of filteredAddresses" [value]="item.Address">
                                                        {{item.Address}}
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                        </label>
                                    </section>

                                    <section *ngIf="addressCtrl.value == 1">
                                        <label class="control-label">Delivery Location</label>
                                        <label class="input" style="width: 100%;">
                                            <textarea formControlName="DeliveryLocation" name="DeliveryLocation"
                                                      class="form-control input-md" rows="4"
                                                      placeholder="Delivery Location"></textarea>
                                            <b class="tooltip tooltip-bottom-right">Delivery Location</b>
                                        </label>
                                    </section>

                                    <div class="col-md-12">
                                        <h6><strong>Product Detail</strong></h6>
                                        <hr>
                                        <div *ngIf="productsForTransfer.length == 0" class="text-center">
                                            <small>There are no products to show</small>
                                        </div>
                                        <div style="overflow-x: auto;">
                                            <table *ngIf="productsForTransfer.length > 0" class="table table-bordered table-responsive-md table-striped text-center">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Product Code</th>
                                                    <!-- <th>Product Consumable</th> -->
                                                    <th>Quantity</th>
                                                    <th>Product Price</th>
                                                    <th>Total Amount</th>
                                                    <th>Inventory</th>
                                                    <th>Branch Code</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let item of productsForTransfer; let id = index">
                                                    <td>{{item.ProductID.Name}}</td>
                                                    <td>{{item.ProductID.ProductCode}}</td>
                                                    <!-- <td>{{item.ProductConsumable}}</td> -->
                                                    <td>{{item.Quantity}}</td>
                                                    <td>{{item.Price | currency: 'INR'}}</td>
                                                    <td>{{(item.Price * item.Quantity) | currency: 'INR'}}</td>
                                                    <td>{{item.Inventory}}</td>
                                                    <td>{{item.BranchCode}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </fieldset>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitTransferForm()"
                                            class="btn btn-success">
                                        Transfer Order
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                            class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner"
                                                          [diameter]="30"
                                                          class="form-spinner"
                                                          color="primary"
                                                          mode='indeterminate'
                                                          value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
