<h1 mat-dialog-title>Order Detail</h1>
<section class="position-relative">
    <i class="fa fa-times text-danger close-button" (click)="onNoClick()"></i>
</section>
<div mat-dialog-content *ngIf="orderDetail">
    <div class="col-md-12" style="text-align: right;">
        <a *ngIf="orderDetail.Status == 1 && currentUser.RoleID && (currentUser.RoleID.Description == 'Approver' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-danger" (click)="disapproveOrder(orderDetail._id)" style="cursor:pointer;">Disapprove</a>
        <span *ngIf="orderDetail.Status == 1 && currentUser.RoleID && (currentUser.RoleID.Description == 'Approver' || currentUser.RoleID.Description == 'Super Admin')">&nbsp;</span>
        <a *ngIf="orderDetail.Status == 1 && currentUser.RoleID && (currentUser.RoleID.Description == 'Approver' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-primary" (click)="approveOrder(orderDetail._id)" style="cursor:pointer;">Approve</a>

        <a *ngIf="orderDetail.Status == 2 && currentUser.RoleID && (currentUser.RoleID.Description == 'OM Supervisory' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-primary" (click)="dismissDialog()" routerLink="/orders/dispatch/{{orderDetail._id}}" style="cursor:pointer;">Dispatch</a>
        <a *ngIf="orderDetail.Status == 4 && currentUser.RoleID && (currentUser.RoleID.Description == 'OM Supervisory' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-primary" (click)="onClickDelivered(orderDetail._id)" style="cursor:pointer;">Delivered</a>
        <a *ngIf="orderDetail.Status == 7 && currentUser.RoleID && (currentUser.RoleID.Description == 'OM Supervisory' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-primary" (click)="onClickReturAccept(orderDetail._id)" style="cursor:pointer;">Accept Return Request</a>
        &nbsp;<a *ngIf="orderDetail.Status != 9 && currentUser.RoleID && (currentUser.RoleID.Description == 'OM Supervisory' || currentUser.RoleID.Description == 'Super Admin')" class="btn btn-warning" (click)="dismissDialog()" routerLink="/orders/transfer/{{orderDetail._id}}" style="cursor:pointer;">Transfer Order</a>
        <hr>
    </div>
    <div class="col-md-3">
        <h6><strong>Basic Detail</strong></h6>
        <hr>
        <label><strong>Order Created: </strong>{{orderDetail.CreatedDate | date: 'dd MMM yyyy'}}</label><br>
        <label><strong>Service Type: </strong>{{orderDetail.ServiceType}}</label><br>
        <label><strong>Request ID: </strong>{{orderDetail.RequestID}}</label><br>
        <label><strong>Delivery Location: </strong>{{orderDetail.DeliveryLocation}}</label><br>
        <label><strong>Schedule Return Date: </strong>{{orderDetail.ScheduleReturnDate | date: 'dd MMM yyyy'}}</label><br>
        <label><strong>Status: </strong>{{allStatus[orderDetail.Status]}}</label><br>
        <label *ngIf="acknowledgeDetail"><strong>Remarks: </strong>{{acknowledgeDetail.Remarks}}</label><br>
    </div>
    <div class="col-md-3">
        <h6><strong>Customer Detail</strong></h6>
        <hr>
        <label><strong>Name: </strong>{{orderDetail.CustomerDetails.CustomerName}}</label><br>
        <label><strong>Contact No: </strong>{{orderDetail.CustomerDetails.Mobile}}</label><br>
        <label><strong>Email-ID: </strong>{{orderDetail.CustomerDetails.Email}}</label><br>
        <label><strong>Address: </strong>{{orderDetail.CustomerDetails.Address}}</label><br>
        <label><strong>Contact Person: </strong>{{orderDetail.CustomerDetails.ContactPerson}}</label><br>
        <label><strong>Contact Person Mobile No: </strong>{{orderDetail.CustomerDetails.ContactPersonMobile}}</label><br>
    </div>
    <div class="col-md-3">
        <h6><strong>Dealer Detail</strong></h6>
        <hr>
        <!--<img src="assets/img/avatars/sunny.png" width="50" height="50" alt="user"><br><br>-->
        <label><strong>Name: </strong>{{orderDetail.SalesPersonID.FirstName}} {{orderDetail.SalesPersonID.LastName}}</label><br>
        <label><strong>Contact No: </strong>{{orderDetail.SalesPersonID.Phone}}</label><br>
        <label><strong>Email-ID: </strong>{{orderDetail.SalesPersonID.Email}}</label><br>
        <label><strong>Address: </strong>{{orderDetail.SalesPersonID.Address}}</label><br>
    </div>
    <div class="col-md-3" *ngIf="dispatchDetail">
        <h6><strong>Dispatched Detail</strong></h6>
        <hr>
        <label><strong>HAWB No: </strong>{{dispatchDetail.HAWB_No}}</label><br>
        <label><strong>HAWB Date: </strong>{{dispatchDetail.HAWB_Date | date : 'dd MMM yyyy'}}</label><br>
        <label><strong>ETA: </strong>{{dispatchDetail.ETA  | date : 'dd MMM yyyy'}}</label><br>
        <label><strong>JDE Invoice No: </strong>{{dispatchDetail.JDE_Invoice_No}}</label><br>
    </div>

    <div class="clearfix"></div>
    <br>
    <div class="col-md-12">
        <h6><strong>Product Detail</strong></h6>
        <hr>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>Name</th>
                <th>Product Code</th>
                <!-- <th>Product Consumable</th> -->
                <th>Quantity</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of orderDetail.Products">
                <td>{{item.ProductID.Name}}</td>
                <td>{{item.ProductID.ProductCode}}</td>
                <!-- <td>{{item.ProductConsumable}}</td> -->
                <td>{{item.Quantity}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="clearfix"></div>
    <br>
    <div class="col-md-6" *ngIf="orderTimeLineDetail && orderTimeLineDetail.length > 0">
        <div class="smart-timeline">
            <h6><strong>Order Time Line</strong></h6>
            <hr>
            <ul class="smart-timeline-list">
                <li *ngFor="let item of orderTimeLineDetail">
                    <div class="smart-timeline-icon">
                        <img src="assets/img/avatars/sunny.png" width="32" height="32" alt="user">
                    </div>
                    <div class="smart-timeline-time">
                        <small>{{item.ModificationDate | timeAgo}}</small>
                    </div>
                    <div class="smart-timeline-content">
                        <p>
                            <a (click)="(null)"><strong>{{allStatus[item.Status]}}</strong></a>
                        </p>
                        <p>
                            {{item.Message}} {{item.ModifiedBy ? 'by ' + item.ModifiedBy.FirstName + ' ' + item.ModifiedBy.LastName : ''}} -
                            <strong style="color: #3276b1;">{{orderDetail.RequestID}}</strong>
                        </p>
                        <p>
                            {{item.Description}}
                        </p>
                        <a *ngIf="item.Attachment" [href]="apiUrl + '/' + item.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <h6><strong>Attached files</strong></h6>
        <hr>
        <!--<a title="file attached in order create" [href]="apiUrl + '/' + orderDetail.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>-->
        <a title="excel atteched in dispatched order" *ngIf="dispatchDetail" [href]="apiUrl + '/' + dispatchDetail.ProductDetailAttachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-excel-o" style="font-size: 30px;"></i></a>
        <a title="pdf attached in dispatched order" *ngIf="dispatchDetail" [href]="apiUrl + '/' + dispatchDetail.ProductInstructionPdf" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-pdf-o" style="font-size: 30px;"></i></a>
        <a title="order image uploaded by dealer" *ngIf="acknowledgeDetail" [href]="apiUrl + '/' + acknowledgeDetail.Picture" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
    </div>
</div>