<div id="content" class="saleperson">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Check Order Status</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <form  name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" >

                                    <div class="col-xs-12">
                                        <div class="servicetype">
                                            <!-- <fieldset>
                                                <legend>Service Type</legend>
                                                <select class="fieldsetinput" (change)="ServiceTypeChange()"  name="ServiceType1" #ServiceType1="ngModel" [(ngModel)]="ServiceType"
                                                 required>
                                                    <option disabled value="0">select Type</option>
                                                    <option value="Demo">Demo</option>
                                                    <option value="Instrument">Instrument</option>
                                                </select>
                                            </fieldset> -->
                                            <br/><br/>
                                            <span class="RequestLabel">
                        Enter Request ID
                    </span>
                                            <span class="pull-right">
                        <!-- DR- <input type="text" class="monthoption" /> -->
                        <span *ngIf="ServiceType == 'Demo'">DR</span><span *ngIf="ServiceType == 'Instrument'">IR</span> - <span class="search_field">
                            <input name="search1" type="number" #search1="ngModel" (keyup.enter)="searchfun()" [disabled]="searchinput" [(ngModel)]="search" (focusout)="focusOutFunction($event)" />
                            <button type="button" [disabled]="searchinput" (click)="searchfun()"><i class="fa fa-search"></i></button>
                        </span>
                    </span>
                                        </div>
                                        <div class="outside-inputs">
                                            <fieldset>
                                                <legend>Customer Name</legend>
                                                <input readonly type="text" class="fieldsetinput" name="CustomerDetails.CustomerName" [(ngModel)]="Order.CustomerDetails.CustomerName"
                                                       placeholder="Name"  #CustomerName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && CustomerName.invalid }" required><br>

                                            </fieldset>
                                            <fieldset class="textareafieldset">
                                                <legend>Delivery Location</legend>
                                                <textarea readonly  class="fieldsettextarea" rows="100" name="DeliveryLocation" [(ngModel)]="Order.DeliveryLocation"
                                                          placeholder="Delivery Location"  #DeliveryLocation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && DeliveryLocation.invalid }" required></textarea>

                                            </fieldset>
                                            <br>
                                            <!-- <div class="row">
                                                <div class="returndate">Delivery Date<i class="fa fa-calendar pull-right" aria-hidden="true"></i></div>
                                                <div class="text-center">
                                                    <select class="monthoption" name="months1" #months1="ngModel" [(ngModel)]="dmonth">
                                                        <option value="01">Jan</option>
                                                        <option value="02">Feb</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">Jun</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">Sep</option>
                                                        <option value="10">Oct</option>
                                                        <option value="11">Nov</option>
                                                        <option value="12">Dec</option>
                                                    </select>
                                                    <select class="monthoption dateoption" name="dates1" #dates1="ngModel" [(ngModel)]="ddate">
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="21">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <select class="monthoption yearoption" name="years1" #years1="ngModel" [(ngModel)]="dyear">
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <br> -->
                                            <div class="row" *ngIf="Order.Products.length > 0">
                                                <table class="table table-bordered responsivetable">
                                                    <thead>
                                                    <tr>
                                                        <th>Sr No.</th>
                                                        <th>Product Code</th>
                                                        <th>Product Name</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let product of Order.Products; let i = index;">
                                                        <td>{{i+1}}</td>
                                                        <td>{{product.ProductCode}}</td>
                                                        <td>{{product.ProductID.Name}}</td>
                                                        <td>{{product.Quantity}}</td>
                                                    </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="returndate">Schedule Return Date
                                                    <!-- <i class="fa fa-calendar pull-right" aria-hidden="true"></i> -->
                                                </div>
                                                <div class="text-center">
                                                    <select disabled  class="monthoption" name="months" #months="ngModel" [(ngModel)]="month">
                                                        <option value="01">Jan</option>
                                                        <option value="02">Feb</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">Jun</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">Sep</option>
                                                        <option value="10">Oct</option>
                                                        <option value="11">Nov</option>
                                                        <option value="12">Dec</option>
                                                    </select>
                                                    <select disabled  class="monthoption dateoption" name="dates" #dates="ngModel" [(ngModel)]="date">
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="21">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <select disabled class="monthoption yearoption" name="years" #years="ngModel" [(ngModel)]="year">
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                    </select>
                                                </div>

                                            </div>
                                            <br><br>
                                            <div class="status">
                                                <b>Status:</b> {{Status}}
                                            </div>
                                            <br/>

                                            <button *ngIf="Status" type="button" class="btn btn-red  btn-inline" (click)="openDialog3()" style="cursor:pointer;">Order History</button>
                                            <button *ngIf="Order.Status == 5" type="button" class="btn btn-red  btn-inline" (click)="openAck()">ACKNOWLEDGE</button>
                                            <br/><br/>

                                        </div>

                                        <div class="buttons">
                                            <!-- <button type="button" *ngIf="Order.Status >= 6 && Order.Status != 7" class="btn btn-red btn-inline" (click)="openReturn()">RETURN</button> <button type="button" *ngIf="Order.Status >= 6 && Order.Status != 7" (click)="openTransfer()" class="btn btn-transperent btn-inline">TRANSFER</button> -->

                                            <br/>

                                            <br/>
                                            <!-- <button type="button" class="btn btn-red  btn-inline" *ngIf="Order.Status == 3" (click)="update()">UPDATE</button> -->
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>

</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
