<div id="content" saleperson>
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Add']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Edit']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showUpdateForm">
                            <form [formGroup]="OrderUpdateForm" id="smart-form-register" class="smart-form client-form"
                                  novalidate="novalidate" [saUiValidate]="validationOrderUpdateFormDetailOptions">
                                <fieldset>
                                    <section>
                                        <label class="control-label">JDE Invoice No</label>
                                        <label class="input">
                                            <input name="JDE_Invoice_No" type="text" formControlName="JDE_Invoice_No" (keypress)="omit_special_char($event)"
                                                   placeholder="JDE Invoice No">
                                            <b class="tooltip tooltip-bottom-right">JDE Invoice No</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Invoice Date</label>
                                        <label class="input">
                                            <input name="Invoice_Date" type="date" formControlName="Invoice_Date"
                                                   placeholder="Invoice Date">
                                            <b class="tooltip tooltip-bottom-right">Invoice Date</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Attachments</label>
                                        <label class="input">
                                            <input multiple type="file" name="Documents" formControlName="Documents"
                                                   placeholder="Documents" (change)="onFileChange($event)">
                                            <b class="tooltip tooltip-bottom-right">Attachments</b>
                                            <small>File size must be in between 0KB and 1000KB.</small>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitUpdateForm()"
                                            class="btn btn-success">
                                        Save
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                            class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner"
                                                          [diameter]="30"
                                                          class="form-spinner"
                                                          color="primary"
                                                          mode='indeterminate'
                                                          value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
