<div id="content" class="saleperson">


    <div class="row">

        <div class="col-xs-12">
            <div class="customerdetails">
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                    <p>Request ID : {{RequestID}}</p>
                    <fieldset class="textareafieldset">
                        <legend>Pick UP Location</legend>
                        <textarea class="fieldsettextarea" rows="100" name="pickuplocations" [(ngModel)]="PickUpLocation" placeholder="Name" #pickuplocations="ngModel" [ngClass]="{ 'is-invalid': f.submitted && pickuplocations.invalid }" required></textarea>

                    </fieldset>
                    <div *ngIf="f.submitted && pickuplocations.invalid" class="invalid-feedback">
                        <div *ngIf="pickuplocations.errors.required">Address is required</div>
                    </div>
                    <br/><br/>

                    <div class="row">
                        <div class="returndate">Pick UP Date
                            <!-- <i class="fa fa-calendar pull-right" aria-hidden="true"></i> -->
                        </div>
                        <div class="text-center">
                            <select class="monthoption" name="months" #months="ngModel" [(ngModel)]="month" (change)="ValidateDate()">
                                    <option value="01">Jan</option>
                                    <option value="02">Feb</option>
                                    <option value="03">March</option>
                                    <option value="04">April</option>
                                    <option value="05">May</option>
                                    <option value="06">Jun</option>
                                    <option value="07">July</option>
                                    <option value="08">August</option>
                                    <option value="09">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                            <select class="monthoption dateoption" name="dates" #dates="ngModel" [(ngModel)]="date" (change)="ValidateDate()">
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                    <option value="13">13</option>
                                    <option value="14">14</option>
                                    <option value="15">15</option>
                                    <option value="16">16</option>
                                    <option value="17">17</option>
                                    <option value="18">18</option>
                                    <option value="19">19</option>
                                    <option value="20">20</option>
                                    <option value="21">21</option>
                                    <option value="21">22</option>
                                    <option value="23">23</option>
                                    <option value="24">24</option>
                                    <option value="25">25</option>
                                    <option value="26">26</option>
                                    <option value="27">27</option>
                                    <option value="28">28</option>
                                    <option value="29">29</option>
                                    <option value="30">30</option>
                                    <option value="31">31</option>
                                </select>
                            <select class="monthoption yearoption" name="years" #years="ngModel" [(ngModel)]="year" (change)="ValidateDate()">
                                    <option value="2020">2020</option>
                                    <option value="2021">2021</option>
                                    <option value="2022">2022</option>
                                    <option value="2023">2023</option>
                                    <option value="2024">2024</option>
                                    <option value="2025">2025</option>
                                    <option value="2026">2026</option>
                                    <option value="2027">2027</option>
                                    <option value="2028">2028</option>
                                    <option value="2029">2029</option>
                                    <option value="2030">2030</option>
                                </select>
                        </div>
                        <p class="invalid-feedback ng-star-inserted dateerror" *ngIf="dateerror">{{dateerrormsg}}</p>

                    </div>
                    <br/><br/>


                    <div class="buttons-footer">

                        <button type="submit" *ngIf="!showSpinner" class="btn btn-black btn-save">
                                Return
                            </button>
                        <!-- <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                  class="btn btn-warning">
                              Cancel
                          </button> -->
                        <mat-progress-spinner *ngIf="showSpinner" [diameter]="30" class="form-spinner" color="primary" mode='indeterminate' value="5">
                        </mat-progress-spinner>
                    </div>

                </form>


            </div>

        </div>
    </div>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>