<div id="content" class="saleperson">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Acknowledge Order</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

                                    <div class="col-xs-12">
                                        <div class="customerdetails">
                                            <form [formGroup]="AckForm" novalidate="novalidate" [saUiValidate]="validationAckFormDetailOptions">

                                                <!-- <section>
                                                      <label class="control-label">Picture</label>
                                                      <label class="input">
                                                          <input type="file" name="Picture" formControlName="Picture"
                                                                 placeholder="Picture" (change)="onFileChange($event)">
                                                          <b class="tooltip tooltip-bottom-right">Picture</b>
                                                          <small><p>File size must be in between 0KB and 10KB.Dimensions 100px * 100px and file type must be jpg, jpeg and png only.</p></small>
                                                      </label>
                                                  </section> -->
                                                <!-- <section>
                                                      <label class="control-label">Remarks</label>
                                                      <label class="input">
                                                          <textarea name="Remarks" type="text" formControlName="Remarks"
                                                                 placeholder="Remarks" rows="10" style="width: 100%;"></textarea>
                                                          <b class="tooltip tooltip-bottom-right">Remarks</b>
                                                      </label>
                                                  </section> -->
                                                <fieldset>
                                                    <legend>Picture</legend>
                                                    <input type="file" class="fieldsetinput" name="Picture" formControlName="Picture"
                                                           placeholder="Picture" (change)="onFileChange($event)">

                                                    <!-- <input type="text" class="fieldsetinput" name="CustomerDetails.ContactPerson" [(ngModel)]="Order.CustomerDetails.ContactPerson"
                                                    placeholder="Contact Person Name"  #ContactPerson="ngModel" [ngClass]="{ 'is-invalid': f.submitted && ContactPerson.invalid }" required><br>
                                                     -->
                                                </fieldset>
                                                <br/><br/>
                                                <small>
                                                    <p>File size must be in between 0KB and 10KB.Dimensions 100px * 100px and file type must be
                                                        jpg, jpeg and png only.</p>
                                                </small>

                                                <fieldset class="textareafieldset">
                                                    <legend>Remarks</legend>
                                                    <textarea class="fieldsettextarea" rows="100" name="Remarks" type="text"
                                                              formControlName="Remarks" placeholder="Remarks" required></textarea>

                                                </fieldset>

                                                <div class="buttons-footer saleperson">

                                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitForm()" class="btn btn-black btn-save">
                                                        Save
                                                    </button>
                                                    <!-- <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                                          class="btn btn-warning">
                                                      Cancel
                                                  </button> -->
                                                    <mat-progress-spinner *ngIf="showSpinner" [diameter]="30" class="form-spinner"
                                                                          color="primary" mode='indeterminate' value="5">
                                                    </mat-progress-spinner>
                                                </div>

                                            </form>
                                        </div>

                                    </div>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>