<div id="content">
    <!-- <div class="row">
        <sa-big-breadcrumbs [items]="['Orders', 'List']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div> -->
    <div class="grid-section">
        <div class="row">
            <div class="col-xs-6 mb">
                <div class="blackbox"  routerLink="/orders/form/-1">
                    <img src="assets/img/create-order.png" />
                    Create Order
                </div>
            </div>
            <div class="col-xs-6 mb">
                <div class="blackbox" routerLink="/orders/view/1">
                    <img src="assets/img/checkorderstatus.png" />
                    Check Order Status
                </div>
            </div>
            <div class="col-xs-6 mb">
                <div class="blackbox" routerLink="/orders/returnform">
                    <img src="assets/img/return.png" />
                    Return
                </div>
            </div>
            <div class="col-xs-6 mb">
                <div class="blackbox" routerLink="/orders/transferform">
                    <img src="assets/img/transfer.png" />
                    Transfer
                </div>
            </div>
            <!-- <div class="col-xs-6 mb">
                <div class="blackbox" routerLink="/orders/dashboard">
                    <img src="assets/img/transfer.png" />
                    Orders
                </div>
            </div> -->
        </div>
    </div>

    <!-- <div class="graph">
        <img src="assets/img/profit.png" />
    </div> -->
    


    <!-- <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <button routerLink="/orders/form/-1" class="btn pull-right addButton">+ Add New</button>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div style="margin: 10px 20px;border: 1px solid #eae8e8;">
                                <input style="border: none;margin: 5px;" id="order_filter" matInput (keyup)="applyFilter($event.target.value)"
                                       placeholder="Filter">
                            </div>
                            <div class="table-order orders-container mat-elevation-z8" id="orderTable">
                                <div class="orders-loading-shade"
                                     *ngIf="isLoadingResults || isRateLimitReached">
                                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                                    <div class="orders-rate-limit-reached" *ngIf="isRateLimitReached">
                                        API rate limit has been reached. It will be reset in one minute.
                                    </div>
                                </div>

                                <div class="orders-table-container">
                                    <table mat-table [dataSource]="dataSource" matSort style="width:100%;">

                                       
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="orderTableID"> ID
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>
                                        
                                       
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn"
                                                style="width: 80px;"> S.No
                                            </th>
                                            <td mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                        </ng-container>
                                        
                                        
                                        <ng-container matColumnDef="CustomerDetails">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Customer Details
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.CustomerDetails}}
                                            </td>
                                        </ng-container>

                                        
                                        <ng-container matColumnDef="DeliveryLocation">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                DeliveryLocation
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.DeliveryLocation}}</td>
                                        </ng-container>

                                        
                                        <ng-container matColumnDef="ServiceType">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                ServiceType
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.ServiceType}}</td>
                                        </ng-container>

                                       
                                        <ng-container matColumnDef="ScheduleReturnDate">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Schedule Return Date
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.ScheduleReturnDate | date: 'dd-MMM-yyyy hh:mm:ss a'}}</td>
                                        </ng-container>

                                        
                                        <ng-container matColumnDef="Consumable">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Consumable
                                            </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Consumable}}</td>
                                        </ng-container>

                                    

                                        
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef id="orderTableActionButton"
                                                style="width:100px;">Action
                                            </th>
                                            <td mat-cell *matCellDef="let row">
                                                <a id="order_edit" class="text-primary"
                                                   routerLink="/orders/form/{{row._id}}" style="cursor:pointer;"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;
                                                        <span
                                                    *ngIf="row.FirstName != 'Super'"> | </span>&nbsp;
                                                <a *ngIf="row.FirstName != 'Super'" id="order_view" routerLink="/orders/view/{{row._id}}"
                                                    class="text-primary"
                                                   style="cursor:pointer;"><i class="fa fa-info"></i></a>
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4">No
                                    record found.
                                </div>
                                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid> -->
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>