<div id="content">
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Add']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Order', 'Edit']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showDispatchForm">
                            <form [formGroup]="OrderDispatchForm" id="smart-form-register" class="smart-form client-form"
                                  novalidate="novalidate" [saUiValidate]="validationOrderDispatchFormDetailOptions">
                                <fieldset>
                                    <section>
                                        <label class="control-label">HAWB No</label>
                                        <label class="input">
                                            <input name="HAWB_No" type="text" formControlName="HAWB_No" (keypress)="omit_special_char($event)"
                                                   placeholder="HAWB No">
                                            <b class="tooltip tooltip-bottom-right">HAWB No</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">HAWB Date</label>
                                        <label class="input">
                                            <input name="HAWB_Date" type="date" formControlName="HAWB_Date"
                                                   placeholder="HAWB Date">
                                            <b class="tooltip tooltip-bottom-right">HAWB No</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">ETA</label>
                                        <label class="input">
                                            <input name="ETA" type="date" formControlName="ETA"
                                                  min="{{currentDate | date:'yyyy-MM-dd'}}" placeholder="ETA">
                                            <b class="tooltip tooltip-bottom-right">ETA</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Product Detail Attachment</label>
                                        <label class="input">
                                            <input type="file" name="ProductDetailAttachment" formControlName="ProductDetailAttachment"
                                                   placeholder="ProductDetailAttachment" (change)="onExcelFileChange($event)">
                                            <b class="tooltip tooltip-bottom-right">Product Detail Attachment</b>
                                            <small>File size must be in between 0KB and 1000KB.File type must be xls and xlsx only.</small>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">Product Instruction Pdf</label>
                                        <label class="input">
                                            <input type="file" name="ProductInstructionPdf" formControlName="ProductInstructionPdf"
                                                   placeholder="ProductInstructionPdf" (change)="onPdfFileChange($event)">
                                            <b class="tooltip tooltip-bottom-right">Product Instruction Pdf</b>
                                            <small>File size must be in between 0KB and 1000KB.File type must be pdf only.</small>
                                        </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitDispatchForm()"
                                            class="btn btn-success">
                                        Save
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                            class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner"
                                                          [diameter]="30"
                                                          class="form-spinner"
                                                          color="primary"
                                                          mode='indeterminate'
                                                          value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
