<div id="content" class="saleperson">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Create Order</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding">
                            <fieldset>
                                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
                                    <div class="col-xs-12">
                                        <div class="servicetype">
                                            Request ID&nbsp;&nbsp;&nbsp;
                                            <!--<span class="pull-right">-->
                                            <span *ngIf="Order.ServiceType == 'Demo'">DR</span>
                                            <span *ngIf="Order.ServiceType == 'Instrument'">IR</span> -
                                            <input type="text" class="monthoption" name="Request_ID" #Request_ID="ngModel" [(ngModel)]="requestID" />
                                            <!--</span>-->
                                        </div>
                                        <div class="heading">
                                            Customer Details
                                        </div>
                                        <div class="customerdetails">
                                            <fieldset class="my-mat-select">
                                                <legend>Select Customer</legend>
                                                <!-- <select (change)="modelChanged1()" class="fieldsetinput" name="ProductCodes" #ProductCodes="ngModel" [(ngModel)]="ProductCode">
                                                    <option *ngFor="let product of Products; let i = index;" [value]="product.ProductCode">{{product.ProductCode}}({{product.Name}})</option>
                                                </select> -->

                                                <mat-form-field>
                                                    <mat-select [formControl]="customerCtrl" #singleSelect (selectionChange)="onChangeCustomer()">
                                                        <mat-select-search [formControl]="customerFilterCtrl"></mat-select-search>
                                                        <mat-option value="0">NA</mat-option>
                                                        <mat-option value="1">Other</mat-option>
                                                        <mat-option *ngFor="let item of filteredCustomers" [value]="item._id">
                                                            {{item.FirstName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </fieldset>
                                            <section *ngIf="Order.CustomerDetails.CustomerID == 1">
                                                <fieldset>
                                                    <legend>Customer Name</legend>
                                                    <input type="text" class="fieldsetinput" name="CustomerDetails.CustomerName" [(ngModel)]="Order.CustomerDetails.CustomerName" placeholder="Customer Name" #CustomerName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && CustomerName.invalid }" required><br>

                                                </fieldset>
                                                <div *ngIf="f.submitted && CustomerName.invalid" class="invalid-feedback">
                                                    <div *ngIf="CustomerName.errors.required">Customer Name is required</div>
                                                </div>
                                                <fieldset>
                                                    <legend>Mobile No.</legend>
                                                    <input type="number" class="fieldsetinput" name="CustomerDetails.Mobile" [(ngModel)]="Order.CustomerDetails.Mobile" placeholder="Mobile" [pattern]="mobNumberPattern" #Mobile="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Mobile.invalid }"><br>

                                                </fieldset>
                                                <!-- <div *ngIf="f.submitted && Mobile.invalid" class="invalid-feedback">
                                                    <div *ngIf="Mobile.errors.required">Mobile is required</div>
                                                     <div *ngIf="Mobile.errors.minlength">Invalid Mobile Number</div>
                                                    <div *ngIf="Mobile.errors.pattern">Invalid Mobile Number</div>
                                                </div> -->

                                                <fieldset>
                                                    <legend>Email</legend>
                                                    <input type="email" class="fieldsetinput" name="CustomerDetails.Email" [(ngModel)]="Order.CustomerDetails.Email" placeholder="Email" #Email="ngModel" email [ngClass]="{ 'is-invalid': f.submitted && Email.invalid }"><br>

                                                </fieldset>
                                                <!-- <div *ngIf="f.submitted && Email.invalid" class="invalid-feedback">
                                                    <div *ngIf="Email.errors.required">Please Enter Email ID.</div>
                                                    <div *ngIf="Email.errors.email">This is not a valid Email!!!.</div>
                                                </div> -->

                                                <fieldset class="textareafieldset">
                                                    <legend>Address</legend>
                                                    <textarea class="fieldsettextarea" rows="100" name="CustomerDetails.Address" [(ngModel)]="Order.CustomerDetails.Address" placeholder="Address" #Address="ngModel" [ngClass]="{ 'is-invalid': f.submitted && Address.invalid }" (blur)="onBlurCustomerAddress()"></textarea>

                                                </fieldset>
                                                <!-- <div *ngIf="f.submitted && Address.invalid" class="invalid-feedback">
                                                    <div *ngIf="Address.errors.required">Address is required</div>
                                                </div>  -->
                                            </section>
                                        </div>

                                        <div class="heading">
                                            Product Details
                                        </div>
                                        <div class="customerdetails">
                                            <fieldset class="my-mat-select">
                                                <legend>Select Order Type</legend>
                                                <select class="fieldsetinput" name="OrderType" #OrderType="ngModel" [(ngModel)]="Order.OrderType" (change)="onChangeOrderType()">
                                                    <option value="Kit Component">Kit Component</option>
                                                    <option value="Individual Component">Individual Component</option>
                                                </select>
                                            </fieldset>
                                            <div class="singli-product-add" *ngIf="Order.OrderType == 'Kit Component'">
                                                <fieldset class="my-mat-select">
                                                    <legend>Inventory Kit</legend>
                                                    <mat-form-field>
                                                        <mat-select [formControl]="kitCtrl" #singleSelect>
                                                            <mat-select-search [formControl]="kitFilterCtrl"></mat-select-search>
                                                            <mat-option *ngFor="let k of filteredKits" [value]="k._id">
                                                                {{k.KitCode}} ({{k.Name}})
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>

                                                </fieldset>
                                                <div class="btn-section">
                                                    <button type="button" (click)="addKits()" class="btn btn-black">+ ADD INVENTORY KIT</button>
                                                </div>
                                                <br/>
                                            </div>

                                            <div class="singli-product-add" *ngIf="Order.OrderType == 'Individual Component'">
                                                <fieldset class="my-mat-select">
                                                    <legend>Product Code</legend>
                                                    <!-- <select (change)="modelChanged1()" class="fieldsetinput" name="ProductCodes" #ProductCodes="ngModel" [(ngModel)]="ProductCode">
                                                        <option *ngFor="let product of Products; let i = index;" [value]="product.ProductCode">{{product.ProductCode}}({{product.Name}})</option>
                                                    </select> -->

                                                    <mat-form-field>
                                                        <mat-select [formControl]="bankCtrl" #singleSelect>
                                                            <mat-select-search [formControl]="bankFilterCtrl"></mat-select-search>
                                                            <mat-option *ngIf="!bankFilterCtrl.value || bankFilterCtrl.value.length < 3" disabled value="">This will be filter product after 3 charactor</mat-option>
                                                            <mat-option *ngFor="let product of filteredBanks" [value]="product.ProductCode">
                                                                {{product.ProductCode}} ({{product.Name}})
                                                            </mat-option>
                                                        </mat-select>
                                                    </mat-form-field>
                                                    <!-- <ngx-select-dropdown [config]="config" class="fieldsetinput" [(ngModel)]="ProductCode" name="ProductCodes" [options]="Products"></ngx-select-dropdown> -->

                                                </fieldset>
                                                <div *ngIf="showerror1" class="invalid-feedback">
                                                    <div *ngIf="showerror1">Please Select Product</div>
                                                </div>
                                                <fieldset>
                                                    <legend>Quantity</legend>
                                                    <input placeholder="Quantity" (change)="modelChanged2()" type="number" class="fieldsetinput" name="Quantitys" #Quantitys="ngModel" [(ngModel)]="Quantity"><br>
                                                </fieldset>
                                                <div *ngIf="showerror2" class="invalid-feedback">
                                                    <div *ngIf="showerror2">Please Enter Quantity</div>
                                                </div>
                                                <div class="btn-section">
                                                    <button type="button" (click)="addProduct()" class="btn btn-black">+ ADD PRODUCT</button>
                                                </div>
                                                <br/>
                                            </div>
                                            <div class="product-excel-upload" *ngIf="Order.OrderType == 'Individual Component'">
                                                <fieldset>
                                                    <legend>Choose Product Excel</legend>
                                                    <!-- <input placeholder="Quantity" (change)="modelChanged2()" type="number" class="fieldsetinput" name="Quantitys" #Quantitys="ngModel" [(ngModel)]="Quantity"><br> -->
                                                    <input #myExcelFileInput type="file" class="fieldsetinput" (change)="uploadedExcelFile($event)" placeholder="Upload file">
                                                </fieldset>
                                                <div class="btn-section">
                                                    <a type="button" href="assets/file/product-upload-excel-sample.xlsx" target="_blank" class="btn btn-sample-excel">DOWNLOAD SAMPLE</a>&nbsp;&nbsp;
                                                    <button type="button" (click)="addProductFromExcel()" class="btn btn-upload-excel">Upload PRODUCT</button>
                                                </div>
                                                <br/>
                                            </div>
                                            <div class="row" *ngIf="Order.Products.length > 0" style="max-height: 500px; overflow-y: auto;">
                                                <table class="table table-bordered responsivetable">
                                                    <thead>
                                                        <tr>
                                                            <th>SN</th>
                                                            <th>Product Code</th>
                                                            <th *ngIf="Order.OrderType == 'Kit Component'">Kit Name</th>
                                                            <th>Product Name</th>
                                                            <th>Qty</th>
                                                            <th>Avl Qty</th>
                                                            <th>Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr *ngFor="let product of Order.Products; let i = index;">
                                                            <td>{{i+1}}</td>
                                                            <td>{{product.ProductCode}}</td>
                                                            <td *ngIf="Order.OrderType == 'Kit Component'">{{product.KitName}}</td>
                                                            <td>{{product.Name}}</td>
                                                            <td>{{product.Quantity}}</td>
                                                            <td>{{product.AvailableQuantity}}</td>
                                                            <td><span (click)="deleteProduct(product.ProductCode, i)"><i class="fa fa-times"></i></span></td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>

                                            <fieldset class="my-mat-select">
                                                <legend>Select Request Type</legend>
                                                <select (change)="dateerror = false" class="fieldsetinput" name="RequestType" #RequestType="ngModel" [(ngModel)]="Order.RequestType">
                                                    <option value="Short Term">Short Term</option>
                                                    <option value="Long Term">Long Term</option>
                                                </select>
                                            </fieldset>
                                            <br>

                                            <div class="row">
                                                <div class="returndate">Schedule Return Date
                                                    <!-- <i class="fa fa-calendar pull-right" aria-hidden="true"></i> -->
                                                </div>
                                                <div class="text-center">
                                                    <select class="monthoption" name="months" #months="ngModel" [(ngModel)]="month" (change)="ValidateDate()">
                                                        <option value="01">Jan</option>
                                                        <option value="02">Feb</option>
                                                        <option value="03">March</option>
                                                        <option value="04">April</option>
                                                        <option value="05">May</option>
                                                        <option value="06">Jun</option>
                                                        <option value="07">July</option>
                                                        <option value="08">August</option>
                                                        <option value="09">Sep</option>
                                                        <option value="10">Oct</option>
                                                        <option value="11">Nov</option>
                                                        <option value="12">Dec</option>
                                                    </select>
                                                    <select class="monthoption dateoption" name="dates" #dates="ngModel" [(ngModel)]="date" (change)="ValidateDate()">
                                                        <option value="01">01</option>
                                                        <option value="02">02</option>
                                                        <option value="03">03</option>
                                                        <option value="04">04</option>
                                                        <option value="05">05</option>
                                                        <option value="06">06</option>
                                                        <option value="07">07</option>
                                                        <option value="08">08</option>
                                                        <option value="09">09</option>
                                                        <option value="10">10</option>
                                                        <option value="11">11</option>
                                                        <option value="12">12</option>
                                                        <option value="13">13</option>
                                                        <option value="14">14</option>
                                                        <option value="15">15</option>
                                                        <option value="16">16</option>
                                                        <option value="17">17</option>
                                                        <option value="18">18</option>
                                                        <option value="19">19</option>
                                                        <option value="20">20</option>
                                                        <option value="21">21</option>
                                                        <option value="21">22</option>
                                                        <option value="23">23</option>
                                                        <option value="24">24</option>
                                                        <option value="25">25</option>
                                                        <option value="26">26</option>
                                                        <option value="27">27</option>
                                                        <option value="28">28</option>
                                                        <option value="29">29</option>
                                                        <option value="30">30</option>
                                                        <option value="31">31</option>
                                                    </select>
                                                    <select class="monthoption yearoption" name="years" #years="ngModel" [(ngModel)]="year" (change)="ValidateDate()">
                                                        <option value="2020">2020</option>
                                                        <option value="2021">2021</option>
                                                        <option value="2022">2022</option>
                                                        <option value="2023">2023</option>
                                                        <option value="2024">2024</option>
                                                        <option value="2025">2025</option>
                                                        <option value="2026">2026</option>
                                                        <option value="2027">2027</option>
                                                        <option value="2028">2028</option>
                                                        <option value="2029">2029</option>
                                                        <option value="2030">2030</option>
                                                    </select>
                                                </div>
                                                <p class="invalid-feedback ng-star-inserted dateerror" *ngIf="dateerror">{{dateerrormsg}}</p>

                                            </div>
                                        </div>
                                        <div class="outside-inputs">
                                            <!-- <p class=""><input type="checkbox" (change)="checkSameAsAddress($event)" name="SameAss" [(ngModel)]="SameAs" /> &nbsp;&nbsp; Same As Customer Address </p> -->
                                            <fieldset *ngIf="localStorage && (localStorage.RoleID.Description == 'DealerChild' || localStorage.RoleID.Description == 'OM Supervisory')">
                                                <legend>Select Dealer</legend>
                                                <mat-form-field>
                                                    <mat-select [formControl]="salespersonCtrl" #singleSelect (selectionChange)="onChangeSalesperson()">
                                                        <mat-select-search [formControl]="salespersonFilterCtrl"></mat-select-search>
                                                        <mat-option *ngFor="let item of filteredSalespersons" [value]="item._id">
                                                            {{item.FirstName}} {{item.LastName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </fieldset>
                                            <fieldset>
                                                <legend>Select Delivery Location</legend>

                                                <mat-form-field>
                                                    <mat-select [formControl]="addressCtrl" #singleSelect (selectionChange)="onChangeAddress()">
                                                        <mat-select-search [formControl]="addressFilterCtrl"></mat-select-search>
                                                        <mat-option value="1">Other</mat-option>
                                                        <mat-option *ngFor="let item of filteredAddresses" [value]="item.Address">
                                                            {{item.Address}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>

                                            </fieldset>

                                            <fieldset class="textareafieldset" *ngIf="addressCtrl.value == 1">
                                                <legend>Delivery Location</legend>
                                                <textarea class="fieldsettextarea" rows="100" name="DeliveryLocation" [(ngModel)]="Order.DeliveryLocation" placeholder="Delivery Location" #DeliveryLocation="ngModel" [ngClass]="{ 'is-invalid': f.submitted && DeliveryLocation.invalid }" required></textarea>
                                            </fieldset>
                                            <div *ngIf="addressCtrl.value == 1 && f.submitted && !Order.DeliveryLocation" class="invalid-feedback">
                                                <div *ngIf="!Order.DeliveryLocation">Delivery Location is required</div>
                                            </div>

                                            <fieldset *ngIf="Order.OrderType == 'Kit Component'">
                                                <legend>Select Kit Status</legend>
                                                <select class="fieldsetinput" name="KitStatus" #KitStatus="ngModel" [(ngModel)]="Order.KitStatus">
                                                    <option value="I want complete order">I want complete order</option>
                                                    <option value="Go ahead with incomplete order">Go ahead with incomplete order</option>
                                                </select>

                                            </fieldset>
                                        </div>
                                        <br/>
                                        <div class="buttons">
                                            <button type="submit" [disabled]="submitrunning" class="btn btn-green btn-inline">PLACE ORDER</button> <button type="button" class="btn btn-link btn-inline" (click)="reset()">RESET</button>
                                            <div class="clr"></div>
                                        </div>
                                    </div>
                                </form>
                            </fieldset>
                            <br>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>

</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>