<section class="position-relative">
    <i class="fa fa-times text-danger close-button" (click)="onNoClick()"></i>
</section>
<h1 mat-dialog-title>Order Details</h1>

<!-- *ngIf="orderDetail" -->
<div class="saleperson" mat-dialog-content>
    <br>
    <div class="attachments">
        <h6><strong>Attached files</strong></h6>
        <hr>
        <!--<a title="file attached in order create" [href]="apiUrl + '/' + orderDetail.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>-->
        <span *ngIf="dispatchDetail && dispatchDetail.Documents">
            <a title="document attached in final update order" *ngFor="let item of dispatchDetail.Documents" [href]="apiUrl + '/' + item" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
        </span>

        <a title="excel atteched in dispatched order" *ngIf="dispatchDetail && dispatchDetail.ProductDetailAttachment" [href]="apiUrl + '/' + dispatchDetail.ProductDetailAttachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-excel-o" style="font-size: 30px;"></i></a>
        <a title="pdf attached in dispatched order" *ngIf="dispatchDetail && dispatchDetail.ProductInstructionPdf" [href]="apiUrl + '/' + dispatchDetail.ProductInstructionPdf" target="_blank" style="margin-right: 10px;"><i class="fa fa-file-pdf-o" style="font-size: 30px;"></i></a>

        <a title="order image uploaded by dealer" *ngIf="acknowledgeDetail && acknowledgeDetail.Picture" [href]="apiUrl + '/' + acknowledgeDetail.Picture" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
    </div>
    <div *ngIf="orderTimeLineDetail && orderTimeLineDetail.length > 0">
        <div class="smart-timeline">
             <h6><strong>Order History</strong></h6>
            <hr>
            <ul class="smart-timeline-list">
                <li *ngFor="let item of orderTimeLineDetail">
                    <div class="smart-timeline-icon">
                        <img src="assets/img/avatars/sunny.png" width="32" height="32" alt="user">
                    </div>
                    <div class="smart-timeline-time">
                        <small>{{item.ModificationDate | timeAgo}}</small>
                    </div>
                    <div class="smart-timeline-content">
                        <p>
                            <a (click)="(null)"><strong>{{allStatus[item.Status]}}</strong></a>
                        </p>
                        <p>
                            {{item.Message}} {{item.ModifiedBy ? 'by ' + item.ModifiedBy.FirstName + ' ' + item.ModifiedBy.LastName : ''}} -
                            <strong style="color: #3276b1;">{{orderDetail.RequestID}}</strong>
                        </p>
                        <p>
                            {{item.Description}}
                        </p>
                        <a *ngIf="item.Attachment" [href]="apiUrl + '/' + item.Attachment" target="_blank" style="margin-right: 10px;"><i class="fa fa-file" style="font-size: 30px;"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>