<div id="content">
    <!-- row -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center error-box">
                        <h1 class="error-text-2 bounceInDown animated"> Error 404 <span
                                class="particle particle--c"></span><span class="particle particle--a"></span><span
                                class="particle particle--b"></span></h1>

                        <h2 class="font-xl"><strong><i class="fa fa-fw fa-warning fa-lg text-warning"></i> Page
                            <u>Not</u> Found</strong></h2>
                        <br>
                        <img src="assets/img/error-404.jpg" class="error-image">
                        <p class="lead">
                            The page you requested could not be found, either contact your webmaster or try again. Use
                            your browsers <strong>Back</strong> button to navigate to the page you have prevously come
                            from
                        </p>

                        <br>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
    </div>
</div>
