<!-- RIBBON -->
<div id="ribbon">
    <span class="ribbon-button-alignment">
      <span id="refresh" class="btn btn-ribbon"
            placement="bottom">
        <i class="fa fa-home"></i>
      </span>
    </span>
    <sa-route-breadcrumbs></sa-route-breadcrumbs>
</div>
