<br><br>
<div id="order-outer-box">
    <div id="order-inner-box" *ngIf="orderDetail && !showThankYouMessage && linkVisible && isUserAuthenticated">
        <h1><strong>Order Detail</strong></h1>
        <hr>
        <section class="col-md-4">
            <h4><strong>Basic Detail</strong></h4>
            <label><strong>Order Created: </strong>{{orderDetail.CreatedDate | date: 'dd MMM yyyy'}}</label><br>
            <label><strong>Service Type: </strong>{{orderDetail.ServiceType}}</label><br>
            <label><strong>Request ID: </strong>{{orderDetail.RequestID}}</label><br>
            <label><strong>Delivery Location: </strong>{{orderDetail.DeliveryLocation}}</label><br>
            
            <label *ngIf="orderDetail.ScheduleReturnDate"><strong>Schedule Return Date: </strong>{{orderDetail.ScheduleReturnDate | date: 'dd MMM yyyy'}}</label>
            <span *ngIf="orderDetail.ScheduleReturnDate"><br></span>

            <label><strong>Status: </strong>{{allStatus[orderDetail.Status]}}</label><br>
        </section>
        <section class="col-md-4">
            <h4><strong>Customer Detail</strong></h4>
            <label><strong>Name: </strong>{{orderDetail.CustomerDetails.CustomerName}}</label><br>
            <label><strong>Contact No: </strong>{{orderDetail.CustomerDetails.Mobile}}</label><br>
            <label><strong>Email-ID: </strong>{{orderDetail.CustomerDetails.Email}}</label><br>
            <label><strong>Address: </strong>{{orderDetail.CustomerDetails.Address}}</label><br>
            <label><strong>Contact Person: </strong>{{orderDetail.CustomerDetails.ContactPerson}}</label><br>
            <label><strong>Contact Person Mobile No: </strong>{{orderDetail.CustomerDetails.ContactPersonMobile}}</label><br>
        </section>
        <section class="col-md-4">
            <h4><strong>Dealer Detail</strong></h4>
            <label><strong>Name: </strong>{{orderDetail.SalesPersonID.FirstName}} {{orderDetail.SalesPersonID.LastName}}</label><br>
            <label><strong>Contact No: </strong>{{orderDetail.SalesPersonID.Phone}}</label><br>
            <label><strong>Email-ID: </strong>{{orderDetail.SalesPersonID.Email}}</label><br>
            <label><strong>Address: </strong>{{orderDetail.SalesPersonID.Address}}</label><br>
        </section>
        <div class="col-md-12" style="height: 25px"></div>
        <section class="col-md-12">
            <h4><strong>Product Detail</strong></h4>
            <table class="table table-responsive">
                <thead>
                <tr>
                    <th style="text-align: center;">Name</th>
                    <th style="text-align: center;">Product Code</th>
                    <!-- <th style="text-align: center;">Product Consumable</th> -->
                    <th style="text-align: center;">Quantity</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of orderDetail.Products">
                    <td>{{item.ProductID.Name}}</td>
                    <td>{{item.ProductID.ProductCode}}</td>
                    <!-- <td>{{item.ProductConsumable}}</td> -->
                    <td>{{item.Quantity}}</td>
                </tr>
                </tbody>
            </table>
        </section>
        <div class="col-md-12" style="height: 15px"></div>
        <section class="col-md-12">
            <button class="btn btn-danger my-btn" (click)="openDialog()">Disapprove Order</button>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <button class="btn btn-primary my-btn" (click)="approveOrder()">Approve Order</button>
        </section>
        <div class="col-md-12" style="height: 15px"></div>
    </div>
    <div id="order-inner-box-2" *ngIf="!(orderDetail && !showThankYouMessage && linkVisible) && isUserAuthenticated">
        <!--<img src="assets/img/thank-you.png" width="100px">-->
        <h5 style="font-size: xx-large;font-weight: bold;color: green;">{{userMessage}}</h5>
    </div>
    <div *ngIf="!isUserAuthenticated">
        <div class="well no-padding">
            <form [formGroup]="authenticationForm" (keydown.enter)="authentication($event)" class="smart-form client-form">
                <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                <header style="text-align: center;text-transform: uppercase;color: #183571;font-weight: bold;">
                    Approver Authentication
                </header>
                <fieldset>
                    <section>
                        <label class="label">E-mail</label>
                        <label class="input"> <i class="icon-append fa fa-user"></i>
                            <input formControlName="UserName" type="email" name="email"
                                   data-smart-validate-input="" data-required="" data-email=""
                                   data-message-required="Please enter your email address"
                                   data-message-email="Please enter a VALID email address">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                Please enter email address/username</b></label>
                    </section>
                    <section>
                        <label class="label">Password</label>
                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                            <input formControlName="Password" type="password" name="password"
                                   data-smart-validate-input="" data-required="" data-minlength="3"
                                   data-maxnlength="20" data-message="Please enter your email password">
                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                your password</b> </label>
                    </section>
                    <section>
                        <label class="checkbox">
                            <input type="checkbox" name="remember" checked>
                            <i></i>Stay signed in</label>
                    </section>
                </fieldset>
                <footer>
                    <button (click)="authentication($event)" class="btn btn-primary my-btn">
                        Sign in
                    </button>
                </footer>
            </form>
        </div>
    </div>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>