<h1 mat-dialog-title>Order Detail</h1>
<section class="position-relative">
    <i class="fa fa-times text-danger close-button" (click)="onNoClick()"></i>
</section>
<div mat-dialog-content id="myDiv">
    <sa-widgets-grid>
        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Reason</h2>
                    </header>
                    <div class='loadExcelInput'>
                        <p>Why are you disapprove this order request?</p>
                        <textarea [(ngModel)]="ReasonMessage" name="ReasonMessage"
                                  class="form-control input-md" rows="4"
                                  placeholder="Please post your address here."></textarea>
                        <footer style="text-align: right;margin-top: 10px;margin-bottom: 10px;">
                            <button type="button" (click)="onSubmit()"
                                    class="btn btn-success">
                                Submit
                            </button>
                        </footer>
                    </div>
                </div>
            </article>
        </div>
    </sa-widgets-grid>
</div>