<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Users', 'List']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <button routerLink="/users/form/-1" class="btn pull-right addButton my-btn">+ Add New</button>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div style="margin: 10px 20px;border: 1px solid #eae8e8;">
                                <input style="border: none;margin: 5px;" id="user_filter" matInput (keyup)="applyFilter($event.target.value)"
                                       placeholder="Filter">
                            </div>
                            <div class="table-user users-container mat-elevation-z8" id="userTable">
                                <div class="users-loading-shade"
                                     *ngIf="isLoadingResults || isRateLimitReached">
                                    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
                                    <div class="users-rate-limit-reached" *ngIf="isRateLimitReached">
                                        API rate limit has been reached. It will be reset in one minute.
                                    </div>
                                </div>

                                <div class="users-table-container">
                                    <table mat-table [dataSource]="dataSource" class="rwd-table" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="userTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>
                                        <!-- Name Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn"
                                                style="width: 80px;"> S. No
                                            </th>
                                            <td data-th="S. No" mat-cell *matCellDef="let row ; let i = index;" class="padding-left-zero-mob"> {{i+1}}</td>
                                        </ng-container>

                                        <!-- UserName Column -->
                                        <ng-container matColumnDef="UserName">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                User Name
                                            </th>
                                            <td data-th="User Name" mat-cell *matCellDef="let row"> {{row.UserName}}</td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Employee Name
                                            </th>
                                            <td data-th="Employee Name" mat-cell *matCellDef="let row"> {{row.FirstName + ' ' + row.LastName}}
                                            </td>
                                        </ng-container>

                                        <!-- Role Column -->
                                        <ng-container matColumnDef="Role">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Role
                                            </th>
                                            <td data-th="Role" mat-cell *matCellDef="let row"> {{row.RoleID ? row.RoleID.Name : ''}}
                                            </td>
                                        </ng-container>

                                        <!-- Email Column -->
                                        <ng-container matColumnDef="Email">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Email
                                            </th>
                                            <td data-th="Email" mat-cell *matCellDef="let row"> {{row.Email}}</td>
                                        </ng-container>

                                        <!-- Phone Column -->
                                        <ng-container matColumnDef="Phone">
                                            <th data-th="_id" mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Phone
                                            </th>
                                            <td data-th="Phone" mat-cell *matCellDef="let row"> {{row.Phone}}</td>
                                        </ng-container>

                                        <!-- CostLevel Column -->
                                        <ng-container matColumnDef="CostLevel">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Cost Level
                                            </th>
                                            <td data-th="Cost Level" mat-cell *matCellDef="let row"> {{row.RoleID && row.RoleID.Description == 'Approver' ? row.MinCostLevel : ''}} - {{row.RoleID && row.RoleID.Description == 'Approver' ? row.MaxCostLevel : ''}}</td>
                                        </ng-container>

                                        <!-- Action Column -->
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef id="userTableActionButton"
                                                style="width:100px;">Action
                                            </th>
                                            <td data-th="Action" mat-cell *matCellDef="let row">
                                                <a *ngIf="row.FirstName != 'Super'" id="user_edit" class="text-primary"
                                                   routerLink="/users/form/{{row._id}}" style="cursor:pointer;"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;<span
                                                    *ngIf="row.FirstName != 'Super'"> | </span>
                                                <a *ngIf="row.FirstName != 'Super'" id="user_delete"
                                                   id="userTableAction" class="text-danger" (click)="delete(row._id)"
                                                   style="cursor:pointer;"><i class="fa fa-trash"></i></a>
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4">No
                                    record found.
                                </div>
                                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>