<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo"> <img src="assets/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a routerLink="/auth/login"
                                                                                        class="btn btn-danger">Login</a> </span>

</header>
<div id="main" role="main" class="animated fadeInDown">

    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3">
                <div class="well no-padding">
                    <form id="forgot-form" class="smart-form client-form" [formGroup]="resetForm"
                          (keydown.enter)="reset($event)">
                        <header>
                            Reset Password
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">New Password</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="password" name="password" formControlName="UserPassword"
                                           data-smart-validate-input="" data-required="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i>
                                        Please enter password </b></label>
                            </section>

                            <section>
                                <label class="label">Confirm Password</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="password" name="confirmpassword" formControlName="UserConfirmPassword"
                                           data-smart-validate-input="" data-required="">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i>
                                        Please confirm password </b></label>
                            </section>

                        </fieldset>
                        <footer>
                            <button (click)="reset($event)" class="btn btn-primary">
                                <i class="fa fa-refresh"></i> Reset Password
                            </button>
                        </footer>
                    </form>

                </div>

            </div>
        </div>

    </div>

