<div id="content" class="budget-report">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Reports', 'Quantity & Amount']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <span class="left-heading">Quantity & Amount Wise</span>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="btn-group">
                                <button [ngClass]="Type == 'Quantity' ? 'active' : null" (click)="[Type = 'Quantity', sortOrder()]">Sort by Quantity</button>
                                <button [ngClass]="Type == 'Amount' ? 'active' : null" (click)="[Type = 'Amount', sortOrder()]">Sort by Amount</button>
                            </div>
                            <div class="col-md-12">
                                <div class="quantity-range-slider custom-slider col-md-6" *ngIf="showQuantitySlider">
                                    <h5>Quantity</h5>
                                    <ng5-slider [(value)]="minQuantity" [(highValue)]="maxQuantity" [options]="QuantityRangeSliderOptions" (mouseup)="sortOrder()"></ng5-slider>
                                </div>
                                <div class="amount-range-slider custom-slider col-md-6" *ngIf="showAmountSlider">
                                    <h5>Total Amount</h5>
                                    <ng5-slider [(value)]="minAmount" [(highValue)]="maxAmount" [options]="AmountRangeSliderOptions" (mouseup)="sortOrder()"></ng5-slider>
                                </div>
                            </div>
                            <div class="row 123 reports-container mat-elevation-z8" id="reportProductTable">

                                <div class="reports-table-container col-md-12" style="overflow-x: auto;">
                                    <table class="rwd-table table-striped" mat-table [dataSource]="dataSourceProduct" matSort style="width:100%;">

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef id="sn" style="width: 80px;"> S.No
                                            </th>
                                            <td [attr.data-th]="'S.No'" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                            <td [attr.data-th]="" class="padding-left-zero-mob" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- RequestID Column -->
                                        <ng-container matColumnDef="RequestID">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Request-ID
                                            </th>
                                            <td [attr.data-th]="'Request-ID'" mat-cell *matCellDef="let row"> {{row.RequestID}}
                                            </td>
                                            <td [attr.data-th]="'Key'" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SalesPerson Column -->
                                        <ng-container matColumnDef="SalesPerson">
                                            <th mat-header-cell *matHeaderCellDef style="min-width: 105px;">
                                                Dealer
                                            </th>
                                            <td [attr.data-th]="'Dealer'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.FirstName}} {{row.SalesPersonID.LastName}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SalesPersonContact Column -->
                                        <ng-container matColumnDef="SalesPersonContact">
                                            <th mat-header-cell *matHeaderCellDef style="min-width: 105px;">
                                                Phone
                                            </th>
                                            <td [attr.data-th]="'Phone'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.Phone}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- Status Column -->
                                        <ng-container matColumnDef="Status">
                                            <th mat-header-cell *matHeaderCellDef style="min-width: 105px;">
                                                Status
                                            </th>
                                            <td [attr.data-th]="'Phone'" mat-cell *matCellDef="let row"> {{allStatus[row.Status]}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- OrderCreated Column -->
                                        <ng-container matColumnDef="OrderCreated">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Order Created
                                            </th>
                                            <td [attr.data-th]="'OrderCreated'" mat-cell *matCellDef="let row"> {{row.CreatedDate | date: 'dd-MMM-yyyy'}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> Total: </td>
                                        </ng-container>

                                        <!-- ProductQuantity Column -->
                                        <ng-container matColumnDef="ProductQuantity">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Product Quantity
                                            </th>
                                            <td [attr.data-th]="'ProductQuantity'" mat-cell *matCellDef="let row"> {{row.Products.length}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalQuantity()}} </td>
                                        </ng-container>

                                        <!-- TotalAmount Column -->
                                        <ng-container matColumnDef="TotalAmount">
                                            <th mat-header-cell *matHeaderCellDef>
                                                Total Amount
                                            </th>
                                            <td [attr.data-th]="'TotalAmount'" mat-cell *matCellDef="let row"> {{row.TotalAmount | currency: 'INR'}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalAmount() | currency: 'INR'}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProduct"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProduct;"></tr>
                                        <tr mat-footer-row *matFooterRowDef="displayedColumnsProduct"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>