<div id="content">

    <div class="row">
        <sa-big-breadcrumbs [items]="['Dashboard']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <sa-widgets-grid>
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-12" *ngIf="currentUser.RoleID && (currentUser.RoleID.Description == 'OM Supervisory' || currentUser.RoleID.Description == 'Super Admin')">
                    <div class="col-md-6 col-sm-6">
                        <div class="my-dashboard-box">
                            <div class="all-products">
                                <h4>No. of Products on Instrument</h4>
                                <div class="ng-binding">
                                    {{allProductsLength | number: '2.'}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <div class="my-dashboard-box">
                            <div class="all-orders">
                                <h4>New Instrument (MTI)</h4>
                                <div class="ng-binding">
                                    {{allOrders.length | number: '2.'}}
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div class="col-md-12">
                    <h5 class="col-md-4">Orders Detail</h5>
                    <section class="col-md-8 text-right">
                        <label class="input">
                            <select name="Country" [(ngModel)]="selectedOrderStatus" (change)="onChangeStatus()"
                                    class="form-control">
                                <option value="0">All Orders</option>
                                <option *ngFor="let item of allOrderStatusByRole" [value]="item.value">{{item.name}} Orders</option>
                            </select>
                        </label>
                    </section>
                    <hr>
                    <table class="rwd-table" mat-table [dataSource]="dataSource" matSort style="width:100%;">

                        <!-- ID Column -->
                        <ng-container matColumnDef="_id">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="orderTableID"> ID
                            </th>
                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                        </ng-container>

                        <!-- SN Column -->
                        <ng-container matColumnDef="SN">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S.No
                            </th>
                            <td data-th="S.No" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                        </ng-container>

                        <!-- RequestID Column -->
                        <ng-container matColumnDef="RequestID">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                RequestID
                            </th>
                            <td data-th="RequestID" mat-cell *matCellDef="let row"> {{row.RequestID}}
                            </td>
                        </ng-container>

                        <!-- ServiceType Column -->
                        <ng-container matColumnDef="ServiceType">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                Service Type
                            </th>
                            <td data-th="Service Type" mat-cell *matCellDef="let row"> {{row.ServiceType}}</td>
                        </ng-container>

                        <!-- ScheduleReturnDate Column -->
                        <ng-container matColumnDef="ScheduleReturnDate">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                Schedule Return Date
                            </th>
                            <td data-th="Schedule Return Date" mat-cell *matCellDef="let row"> {{row.ScheduleReturnDate | date: 'dd MMM yyyy'}}</td>
                        </ng-container>

                        <!-- Status Column -->
                        <ng-container matColumnDef="Status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                Status
                            </th>
                            <td data-th="Status" mat-cell *matCellDef="let row"> {{allStatus[row.Status]}}</td>
                        </ng-container>

                        <!-- Action Column -->
                        <ng-container matColumnDef="Action">
                            <th mat-header-cell *matHeaderCellDef id="orderTableActionButton">Action
                            </th>
                            <td data-th="Action" mat-cell *matCellDef="let row">
                                <a class="btn btn-warning my-btn" (click)="openDialog(row._id)" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
            <div class="col-md-6">
                <h5 style="float: left;">Order Notifications</h5>
                <span *ngIf="allNotifications.length > 1" (click)="readAllNotification()" style="float: right;
                    margin-top: 15px;
                    color: #3276b1;
                    cursor: pointer;">READ ALL</span>
                <div class="clearfix"></div>
                <ul style="list-style-type: none;max-height: 500px;overflow-y: auto;padding-left: 0;">
                    <li *ngFor="let item of allNotifications" class="notification-show">
                        <div class="row">
                            <div class="col-md-11">
                                {{item.Message}} {{item.ModifiedBy ? 'by ' + item.ModifiedBy.FirstName + ' ' + item.ModifiedBy.LastName : ''}} -
                                <strong class="my-anchor" (click)="onClickOrderNotification(item.OrderID._id, item._id)" style="color: #3276b1;">{{item.OrderID.RequestID}}</strong>
                                <small class="text-muted">&nbsp;&nbsp;&nbsp;({{item.ModificationDate | timeAgo}})</small>
                            </div>
                            <div class="col-md-1">
                                <i (click)="onClickOrderNotification(item.OrderID._id, item._id)" class="fa fa-eye my-anchor" style="float: right;color: #3276b1;"></i>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </sa-widgets-grid>
</div>