<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Product', 'Upload Excel']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Upload Excel</h2>
                    </header>
                    <div class='loadExcelInput'>
                        <p>Upload Excel File</p>
                        <input type="file" name="files[]" id="jsonFile" class="form-control" (change)="onExcelFileChange($event)"/>
                        <footer style="text-align: right;margin-top: 10px;margin-bottom: 10px;">
                            <button type="button" (click)="cancel()"
                                    class="btn btn-warning">
                                Cancel
                            </button> &nbsp;&nbsp;
                            <button type="button" (click)="uploadExcel()"
                                    class="btn btn-success">
                                Upload
                            </button>
                        </footer>
                    </div>
                </div>
            </article>
        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait, It will take more time...'"></ng4-loading-spinner>
