<div id="content">
    <div class="row" *ngIf="ID == '-1'">
        <sa-big-breadcrumbs [items]="['Product', 'Add']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <div class="row" *ngIf="ID != '-1'">
        <sa-big-breadcrumbs [items]="['Product', 'Edit']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-6 col-sm-offset-3">
                <div sa-widget [editbutton]="false" color="blueDark">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>{{ID == '-1' ? 'Add' : 'Edit'}}</h2>
                    </header>
                    <div>
                        <div class="widget-body no-padding" *ngIf="showForm">
                            <form [formGroup]="ProductForm" id="smart-form-register" class="smart-form client-form"
                                  novalidate="novalidate" [saUiValidate]="validationProductFormDetailOptions">
                                <fieldset>
                                    <!--<section>-->
                                        <!--<label class="control-label">Image</label>-->
                                        <!--<label class="input">-->
                                            <!--<input type="file" name="Image" formControlName="Image"-->
                                                   <!--placeholder="Image" (change)="onFileChange($event)">-->
                                            <!--<b class="tooltip tooltip-bottom-right">Image</b>-->
                                            <!--<small>File size must be in between 0KB and 10KB.Dimensions 100px * 100px and file type must be jpg, jpeg and png only.</small>-->
                                        <!--</label>-->
                                    <!--</section>-->
                                    <section>
                                        <label class="control-label">Name</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-product-hunt"></i>
                                            <input name="Name" type="text" formControlName="Name"
                                                   placeholder="Name">
                                            <b class="tooltip tooltip-bottom-right">Name</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Product Code</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-codiepie"></i>
                                            <input name="ProductCode" type="text" formControlName="ProductCode"
                                                   placeholder="Product Code">
                                            <b class="tooltip tooltip-bottom-right">Product Code</b>
                                        </label>
                                    </section>
                                    <!--<section>-->
                                        <!--<label class="control-label">Type</label>-->
                                        <!--<label class="input">-->
                                            <!--<select name="Type" formControlName="Type"-->
                                                    <!--class="form-control">-->
                                                <!--<option disabled value="0">select Type</option>-->
                                                <!--<option value="Demo">Demo</option>-->
                                                <!--<option value="Instrument">Instrument</option>-->
                                            <!--</select>-->
                                            <!--<b class="tooltip tooltip-bottom-right">Type</b>-->
                                        <!--</label>-->
                                    <!--</section>-->
                                    <section>
                                        <label class="control-label">Price</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-inr"></i>
                                            <input name="Price" type="number" formControlName="Price"
                                                   placeholder="Price">
                                            <b class="tooltip tooltip-bottom-right">Price</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Quantity</label>
                                        <label class="input">
                                            <i class="icon-prepend fa fa-balance-scale"></i>
                                            <input name="TotalQuantity" type="number" formControlName="TotalQuantity"
                                                   placeholder="Quantity">
                                            <b class="tooltip tooltip-bottom-right">Quantity</b>
                                        </label>
                                    </section>
                                    <!-- <section>
                                        <label class="control-label">Product Consumable</label>
                                        <label class="input">
                                            <select name="ProductConsumable" formControlName="ProductConsumable"
                                            class="form-control">
                                            <option disabled value="0">select product consumable</option>
                                            <option value="Yes">Yes</option>
                                            <option value="No">No</option>
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">Product Consumable</b>
                                        </label>
                                    </section> -->
                                    <section>
                                        <label class="control-label">Inventory</label>
                                        <label class="input">
                                            <input name="Inventory" type="text" formControlName="Inventory"
                                                   placeholder="Inventory">
                                            <b class="tooltip tooltip-bottom-right">Inventory</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">Branch Code</label>
                                        <label class="input">
                                            <input name="BranchCode" type="text" formControlName="BranchCode"
                                                   placeholder="Branch Code">
                                            <b class="tooltip tooltip-bottom-right">Branch Code</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="control-label">MIS Franchise</label>
                                        <label class="input">
                                            <!-- <input name="BranchCode" type="text" formControlName="MisFranchise"
                                                   placeholder="MIS Franchise"> -->
                                             <select name="MisFranchise" formControlName="MisFranchise"
                                                    class="form-control">
                                                <option disabled value="">Select MIS Franchise</option>
                                                <option *ngFor="let fran of AllMisFranchise" value='{{fran.Name}}'>{{fran.Name}}</option>
                                                
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">MIS Franchise</b>
                                        </label>
                                    </section>

                                    <section>
                                        <label class="control-label">MIS BU Group</label>
                                        <label class="input">
                                            <!-- <input name="BranchCode" type="text" formControlName="MisBUGroup"
                                                   placeholder="MIS BU Group"> -->
                                            <select name="MisBUGroup" formControlName="MisBUGroup"
                                                    class="form-control">
                                                <option disabled value="">Select MIS BU Group</option>
                                                <option *ngFor="let group of AllMisBUGroup" value='{{group.Name}}'>{{group.Name}}</option>
                                                
                                            </select>
                                            <b class="tooltip tooltip-bottom-right">MIS BU Group</b>
                                        </label>
                                    </section>
                                    <section>
                                        <label class="label" style="color: black;">Description</label>
                                        <label class="input" style="width: 100%;">
                                            <textarea name="Description" formControlName="Description" name="Description"
                                                      class="form-control input-md" rows="4"
                                                      placeholder="Please post your Description here."></textarea>
                                            <b class="tooltip tooltip-bottom-right">Description</b> </label>
                                    </section>
                                </fieldset>
                                <footer>
                                    <button type="submit" *ngIf="!showSpinner" (click)="onSubmitForm()"
                                            class="btn btn-success">
                                        Save
                                    </button>
                                    <button type="button" *ngIf="!showSpinner" (click)="cancel()"
                                            class="btn btn-warning">
                                        Cancel
                                    </button>
                                    <mat-progress-spinner *ngIf="showSpinner"
                                                          [diameter]="30"
                                                          class="form-spinner"
                                                          color="primary"
                                                          mode='indeterminate'
                                                          value="5">
                                    </mat-progress-spinner>
                                </footer>

                                <div class="message">
                                    <i class="fa fa-check"></i>
                                    <p>
                                        Thank you for your registration!
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>
