<div id="content" class="transfer-order budget-report">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Reports', 'Product']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="filter-data">
                                <br>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="customerCtrl" #singleSelect (selectionChange)="onChangeCustomers()">
                                                        <mat-select-search [formControl]="customerFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Dealer</mat-option>
                                                        <mat-option *ngFor="let item of filteredCustomers" [value]="item._id">
                                                            {{item.FirstName}} {{item.LastName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="productCtrl" #singleSelect (selectionChange)="onChangeProducts()">
                                                        <mat-select-search [formControl]="productFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Product</mat-option>
                                                        <mat-option *ngFor="let item of filteredProducts" [value]="item._id">
                                                            {{item.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Request" [(ngModel)]="productFilterData.RequestID" class="form-control" placeholder="Request ID">
                                    </div>
                                    <div class="col-md-2">
                                        <select name="status" [(ngModel)]="productFilterData.Status" class="form-control">
                                            <option value="0">select status</option>
                                            <option *ngFor="let item of allOrderStatus" [value]="item.value">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customername" [(ngModel)]="productFilterData.CustomerName" class="form-control" placeholder="Customer Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customermobile" [(ngModel)]="productFilterData.CustomerMobile" class="form-control" placeholder="Customer Mobile No">
                                    </div>
                                    <div class="col-md-12" style="height: 5px;"></div>
                                    <div class="col-md-2">
                                        <input name="productcode" [(ngModel)]="productFilterData.ProductCode" class="form-control" placeholder="Product Code">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="fromdate" [(ngModel)]="productFilterData.FromDate" class="form-control" placeholder="from date">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="todate" [(ngModel)]="productFilterData.ToDate" class="form-control" placeholder="To Date">
                                    </div>
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="franchiseCtrl" #singleSelect (selectionChange)="onChangeFranchise()">
                                                        <mat-select-search [formControl]="franchiseFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Franchise</mat-option>
                                                        <mat-option *ngFor="let item of filteredFranchises" [value]="item.Name">
                                                            {{item.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="buHeadCtrl" #singleSelect (selectionChange)="onChangeBuHead()">
                                                        <mat-select-search [formControl]="buHeadFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select BuHead</mat-option>
                                                        <mat-option *ngFor="let item of filteredBuHead" [value]="item.Name">
                                                            {{item.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="text-align: right;">
                                        <button (click)="exportProductAsXLSX()" [disabled]="selectedProduct.length == 0" class="btn btn-primary">Export to excel &nbsp;&nbsp;<i class="fa fa-file-excel-o"></i></button>&nbsp;&nbsp;
                                        <button (click)="clearProductWise()" class="btn btn-warning">clear</button>&nbsp;&nbsp;
                                        <button (click)="filterProductWise()" class="btn btn-success">search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-report reports-container mat-elevation-z8" id="reportProductTable">

                                <div class="reports-table-container col-md-12">
                                    <table class="rwd-table" mat-table [dataSource]="dataSourceProduct" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="productTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S.No
                                            </th>
                                            <td data-th="S.No" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                            <td data-th="" class="padding-left-zero-mob" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Name
                                            </th>
                                            <td data-th="Name" mat-cell *matCellDef="let row"> {{row.Name}}
                                            </td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- ProductCode Column -->
                                        <ng-container matColumnDef="ProductCode">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Product Code
                                            </th>
                                            <td data-th="Product Code" mat-cell *matCellDef="let row"> {{row.ProductCode ? row.ProductCode : 0}}</td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- MisFranchise Column -->
                                        <ng-container matColumnDef="MisFranchise">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Mis Franchise
                                            </th>
                                            <td data-th="Type" mat-cell *matCellDef="let row"> {{row.MisFranchise}}</td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- MisBuHead Column -->
                                        <ng-container matColumnDef="MisBuHead">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Mis BuHead
                                            </th>
                                            <td data-th="Type" mat-cell *matCellDef="let row"> {{row.MisBuHead}}</td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> Total: </td>
                                        </ng-container>

                                        <!-- Quantity Column -->
                                        <ng-container matColumnDef="Quantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Total Quantity
                                            </th>
                                            <td data-th="Total Quantity" mat-cell *matCellDef="let row"> {{row.Quantity | number: '2.'}}</td>
                                            <td data-th="Total Quantity" mat-footer-cell *matFooterCellDef> {{getTotalQuantity() | number: '2.'}} </td>
                                        </ng-container>

                                        <!-- Action Column -->
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef id="productTableActionButton">Action
                                            </th>
                                            <td data-th="Action" mat-cell *matCellDef="let row">
                                                <a class="btn btn-warning" style="cursor:pointer;"><i class="fa fa-eye"></i></a>
                                            </td>
                                            <td data-th="" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProduct"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProduct;"></tr>
                                        <tr mat-footer-row *matFooterRowDef="displayedColumnsProduct"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>