<header id="header" class="animated fadeInDown">

    <div id="logo-group">
        <span id="logo" routerLink="/" style="cursor: pointer"> <img src="assets/img/logo.png" alt="Instrument tracking tool"> </span>
    </div>

    <!--<span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs"></span> <a routerLink="/auth/login" class="btn btn-danger">Login</a> </span>-->

</header>
<div id="main" role="main" class="animated fadeInDown" *ngIf="showLoginForm">

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3">
                <div class="well no-padding">
                    <form [formGroup]="loginForm" (keydown.enter)="login($event)" class="smart-form client-form">
                        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
                        <header style="text-align: center;text-transform: uppercase;color: #183571;font-weight: bold;">
                            Stryker India IVT Sign In
                        </header>
                        <fieldset>
                            <section>
                                <label class="label">E-mail</label>
                                <label class="input"> <i class="icon-append fa fa-user"></i>
                                    <input formControlName="UserName" type="email" name="email"
                                           data-smart-validate-input="" data-required="" data-email=""
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter email address/username</b></label>
                            </section>
                            <section>
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input formControlName="Password" type="password" name="password"
                                           data-smart-validate-input="" data-required="" data-minlength="3"
                                           data-maxnlength="20" data-message="Please enter your email password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                        your password</b> </label>

                                <div class="note">
                                    <a routerLink="/auth/forgot-password">Forgot password?</a>
                                </div>
                            </section>
                            <section>
                                <label class="checkbox">
                                    <input type="checkbox" name="remember" checked>
                                    <i></i>Stay signed in</label>
                            </section>
                        </fieldset>
                        <footer>
                            <button *ngIf="!showSpinner" (click)="login($event)" class="btn btn-primary">
                                Sign in
                            </button>
                            <mat-progress-spinner *ngIf="showSpinner" style="float: right" [diameter]="30" class="example-margin" color="primary" mode='indeterminate' value="5">
                            </mat-progress-spinner>
                        </footer>
                    </form>
                </div>
                <!--<h5 class="text-center"> - Or sign in using -</h5>-->
                <!--<ul class="list-inline text-center">-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>-->
                <!--</li>-->
                <!--<li>-->
                <!--<a (click)="(null)" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>-->
                <!--</li>-->
                <!--</ul>-->
            </div>
        </div>
    </div>
</div>