/* You can add global styles to this file, and also import other style files */


/* #GOOGLE FONT */


/* @import url("https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"); */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
body:not(.menu-on-top).desktop-detected {
    min-height: 850px !important;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #080f62;
}

.success-snackbar {
    color: #fff;
    background-color: #4dbd74;
    border-color: #4dbd74;
}

.danger-snackbar {
    color: #fff;
    background-color: #f86c6b;
    border-color: #f86c6b;
}

.warning-snackbar {
    color: #23282c;
    background-color: #d39e00;
    border-color: #c69500;
}

.mat-simple-snackbar-action .mat-button-wrapper {
    color: black !important;
    text-transform: capitalize;
}

.addButton {
    background-color: #0E70CA;
    border-color: #0E70CA;
}

.position-relative {
    position: relative!important;
}

.close-button {
    position: absolute;
    top: -65px;
    right: -10px;
    font-size: 25px;
    cursor: pointer;
}

.my-dashboard-box {
    display: table;
    width: 100%;
    height: 140px;
    box-shadow: 0px 1px 11px 0 #544747;
}

.my-dashboard-box h4 {
    font-weight: 700 !important;
    text-transform: uppercase;
}

.all-users {
    display: table-cell;
    vertical-align: middle;
    background-color: #1e6243;
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: 700 !important;
    padding: 5px;
}

.all-products {
    display: table-cell;
    vertical-align: middle;
    background-color: #080f62;
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: 700 !important;
    padding: 5px;
}

.all-hospitals {
    display: table-cell;
    vertical-align: middle;
    background-color: #62195f;
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: 700 !important;
    padding: 5px;
}

.all-orders {
    display: table-cell;
    vertical-align: middle;
    background-color: #a18709;
    color: white;
    font-size: xx-large;
    text-align: center;
    font-weight: 700 !important;
    padding: 5px;
}

form .invalid {
    color: red;
}

#order-outer-box {
    display: table;
    box-shadow: 0px 0px 5px 0px #544747;
    margin: auto;
    width: 80%;
}

#order-inner-box {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#order-inner-box-2 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 500px;
    height: 500px;
}

.notification-show {
    padding: 10px;
    margin: 10px;
    border: 1px solid gray;
}

.my-anchor {
    cursor: pointer!important;
}

.text-center th {
    text-align: center!important;
}

.mat-elevation-z8 {
    margin: 0px 1px;
}


/*mobile app css*/

.invalid-feedback {
    color: red;
    padding: 5px 0px;
}

.productAdd {
    padding: 5px 10px;
    margin: 10px;
}

.loginlogo {
    max-width: 400px;
    width: 80%;
    margin: 0% auto;
}

.logo img {
    width: 100%;
    padding-top: 20%;
    padding-bottom: 20%;
}

.loginbtn {
    text-align: center;
}

.btn-black {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    width: 80%;
    color: white;
    margin-top: 20px;
}

.btn-black:hover {
    color: white;
}

.textinput {
    box-shadow: none;
    border: 1px solid #000;
    padding: 8px 10px;
    border-radius: 20px;
    margin-left: 4%;
    margin-bottom: 8px;
    background: #ffffff;
    width: 96%;
}

.before-icon {
    padding: 10px 0px;
    text-align: center;
    box-shadow: -1px 2px 20px -9px rgba(0, 0, 0, 0.68);
    border-radius: 20px;
    height: 20px;
    width: 40px;
}

.before-icon img {
    width: auto;
    height: 100%;
}

.clr {
    clear: both;
}

.LoginForm {
    width: 90%;
    max-width: 400px;
    margin: 0px auto;
}

#logo1 {
    height: 49px !important;
    display: table-cell !important;
    vertical-align: middle !important;
    float: none !important;
}

.header-middle {
    width: 58%;
    padding: 15px 0px;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    line-height: 20px;
}

.grid-section {
    width: 90%;
    margin: 20px auto;
    max-width: 600px;
}

.grid-section .col-xs-6 {
    padding-left: 10px;
    padding-right: 10px;
}

.blackbox {
    text-align: center;
    color: #fff;
    background-image: linear-gradient(#3b3b3b, #0e0e0e);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    height: 200px;
    display: table-cell;
    vertical-align: middle;
    width: 39%;
}

.blackbox img {
    width: 60%;
    max-width: 150px;
    display: block;
    margin: 0px auto;
}

.mb {
    margin-bottom: 20px;
}

.graph {
    width: 90%;
    margin: 0px auto;
    height: 300px;
}

.graph img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.btn-header img {
    height: 20px;
    margin-right: 10px;
    margin-top: 6px;
}

legend {
    display: block;
    padding: 8px 0;
    background: none !important;
    border: none !important;
    font-size: 14px;
    font-weight: bold;
    color: #222;
    margin: 5px 34px 5px;
    width: auto;
}

form fieldset {
    border: 1px solid #000000;
    border-radius: 30px;
    min-height: 60px;
}

.textareafieldset {
    border: 1px solid #000000;
    border-radius: 30px;
    height: 125px;
}

.fieldsetinput {
    position: absolute;
    /* top: 25px; */
    bottom: 5px;
    width: 90%;
    height: 27px;
    left: 20px;
    border: none;
    background: no-repeat;
}

.customerdetails {
    border: 1px solid;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
}

.heading {
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
}

.fieldsettextarea {
    position: absolute;
    /* top: 30px; */
    bottom: 5px;
    width: 90%;
    height: 83px;
    left: 20px;
    border: none;
    background: no-repeat;
}

.btn-section {
    text-align: center;
}

.outside-inputs {
    width: 85%;
    margin: 0px auto;
}

.radio-toolbar {
    margin: 10px;
    display: inline-block;
}

.radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radio-toolbar label {
    display: inline-block;
    background-color: #fff;
    padding: 8px 12px;
    font-family: sans-serif, Arial;
    font-size: 12px;
    border: 1px solid #ca0000;
    border-radius: 20px;
    color: #ca0000;
    margin-left: 5px;
}

.radio-toolbar label:hover {
    background-color: #dfd;
}

.radio-toolbar input[type="radio"]:focus+label {
    border: 2px dashed #444;
}

.radio-toolbar input[type="radio"]:checked+label {
    background-color: #00aa24;
    border-color: #00aa24;
    color: #fff;
}

.plabel {
    display: inline;
}

.monthoption {
    padding: 6px 10px;
    border: 1px solid #000000;
    border-radius: 20px;
    margin: 10px 5px;
    width: 30%;
    background-color: #ffffff;
}

.returndate {
    width: 80%;
    margin: 0px auto;
    font-size: 16px;
    /* max-width: 270px; */
}

.dateerror {
    width: 80%;
    margin: 0px auto;
}

.dateoption {
    width: 23%;
    background-color: #ffffff;
}

.yearoption {
    width: 30%;
    background-color: #ffffff;
}

.responsivetable {
    border-radius: 10px;
}

.responsivetable th,
.responsivetable td {
    font-size: 12px;
    padding: 5px !important;
}

.fa-times {
    color: red;
}

table {
    border: 1px solid #ddd;
    /*border-collapse: separate;*/
    border-left: 0;
    border-radius: 4px;
    border-spacing: 0px;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
    /*border-collapse: separate;*/
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th,
td {
    padding: 5px 4px 6px 4px;
    text-align: left;
    vertical-align: top;
    border-left: 1px solid #ddd;
}

td {
    border-top: 1px solid #ddd;
}

thead:first-child tr:first-child th:first-child,
tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}

thead:last-child tr:last-child th:first-child,
tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

thead:first-child tr:first-child th:last-child {
    border-top-right-radius: 11px;
}

thead:first-child tr:first-child th:first-child {
    border-top-left-radius: 11px;
}

.saleperson .btn {
    padding: 10px;
    border-radius: 20px;
}

.my-btn {
    padding: 6px 12px;
    border-radius: 0;
}

.btn-green {
    background-color: #00aa24;
    color: #ffffff;
    width: 150px;
}

.btn-red {
    background-color: #ca0000;
    color: #ffffff;
    width: auto;
    font-size: 16px;
    padding: 10px 30px;
}

.buttons {
    width: 88%;
    margin: 0px auto;
}

.btn-inline {
    float: left;
    margin-left: 10px;
}

.btn-save {
    width: auto;
    padding: 10px 20px;
    font-size: 20px;
}

.buttons-footer {
    text-align: center;
}

.btn-link {
    color: #ca0000;
}

.servicetype {
    margin: 10px auto;
    width: 85%;
}

.RequestLabel {
    height: 30px;
    line-height: 28px;
    font-size: 15px;
}

.RequestLabel span {
    font-size: 18px;
}

.search_field {
    display: inline-block;
    border: 1px inset #000;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 2px;
}

.search_field input {
    border: none;
    padding: 4px 0px 4px 4px;
    border-radius: 20px;
    width: 80px;
    height: 23px;
}

.search_field button {
    border: none;
    background: none;
}

.btn-transperent {
    background-color: transparent;
    width: auto;
    border: 1px solid #000000;
    font-size: 16px;
    float: right;
    padding: 10px 30px;
}

.returndate i {
    margin-top: 3px;
}

.icon-section {
    width: 80%;
    margin: 0px auto;
    text-align: center;
}

.icon-section img {
    width: 50%;
    max-width: 100px;
}

.saleperson .mat-dialog-content p {
    text-align: center;
    margin: 10px;
}

.btn-yes {
    width: 80px;
    float: left;
    color: #ffffff!important;
}

.btn-yes:hover {
    color: #ffffff;
}

.btn-no {
    width: 80px;
    background-color: transparent;
    float: right!important;
    color: #000;
    box-shadow: none;
}

.status {
    font-size: 14px;
}

#Remarks-error {
    position: absolute;
    bottom: -24px;
    color: red;
}

#Picture-error {
    position: absolute;
    bottom: -24px;
    color: red;
}

#CustomerID-error {
    position: absolute;
    bottom: -24px;
    color: red;
}

.mat-table th,
.mat-table td {
    padding: 15px!important;
}

.btn-ok {
    width: 80px;
    color: #fff!important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: transparent!important;
}


/*.mat-form-field { position: absolute!important; width : 85%; top: 15px; left: 20px;}*/


/*.mat-dialog-container {*/


/*display: block;*/


/*padding: 13px!important;*/


/*}*/

.attachments a {
    display: inline-block;
    margin: 10px;
}

.position-relative {
    position: relative!important;
    text-align: right;
}

.cdk-overlay-pane {
    max-width: 90vw!important;
}

.saleperson .mat-form-field-underline,
.transfer-order .mat-form-field-underline {
    display: none!important;
}

.my-mat-select .mat-form-field {
    width: 95%;
    margin-left: 10px;
    padding: 0 10px;
}

.my-mat-select .mat-form-field-wrapper {
    padding-bottom: .7em;
}

.saleperson .mat-form-field {
    position: absolute!important;
    width: 90%;
    bottom: 10px;
    left: 20px;
    height: 30px;
}

.transfer-order .mat-form-field {
    width: 100% !important;
    border: 1px solid #bdbdbd !important;
    height: 32px !important;
}

.transfer-order .mat-form-field-flex {
    padding: 0 5px !important;
}

.transfer-order .mat-form-field-infix {
    padding: 0 !important;
}

.btn-sample-excel {
    background-color: #867006;
    padding: 10px;
    border-radius: 20px;
    width: 39%;
    color: white;
    margin-top: 20px;
}

.btn-upload-excel {
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    width: 39%;
    color: white;
    margin-top: 20px;
}

.btn-sample-excel:hover,
.btn-upload-excel:hover {
    color: white !important;
}

.page-loader {
    width: 30%;
    position: fixed;
    top: 30%;
    left: 35%;
}

.budget-report th.mat-header-cell,
.budget-report td.mat-footer-cell {
    font-weight: bold;
    color: #000;
}

.budget-report .left-heading {
    font-weight: bold;
    float: left;
    padding-left: 10px;
}

.budget-report .right-heading {
    font-weight: bold;
    float: right;
    padding-right: 10px;
}

.budget-report .jarviswidget>header {
    line-height: 30px !important;
}

.btn-group button {
    background-color: #4c4faf;
    /* Green background */
    border: 1px solid #0b0e7b;
    /* Green border */
    color: white;
    /* White text */
    padding: 5px 20px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    float: left;
    /* Float the buttons side by side */
}

.btn-group button.active {
    background-color: #040654;
}


/* Clear floats (clearfix hack) */

.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none;
    /* Prevent double borders */
}


/* Add a background color on hover */

.btn-group button:hover {
    background-color: #0b0e7b;
}

.custom-slider .ng5-slider .ng5-slider-bar {
    background: #ffe4d1;
    height: 2px;
}

.custom-slider .ng5-slider .ng5-slider-selection {
    background: orange;
}

.custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto;
    /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
}

.custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
}

.custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: orange;
}

.custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
}

.custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: orange;
}


/*table responsive css*/

.rwd-table {
    margin: 1em 0;
}


/*.rwd-table tr {*/


/*border: 3px solid #ddd;*/


/*}*/

.rwd-table th {
    display: none;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    padding-top: .5em;
}

.rwd-table td:last-child {
    padding-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 6.5em;
    display: inline-block;
}

.molding-table td {
    display: table-cell;
    vertical-align: middle;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table th,
.rwd-table td {
    margin: .5em 1em;
}

.padding-left-zero-mob {
    padding-left: 0!important;
}

@media (min-width: 768px) {
    .rwd-table td:before {
        display: none;
    }
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }
    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }
    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }
    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}

@media (max-width: 768px) {
    .btn-full-width {
        display: block;
    }
    .rwd-table tr.mat-row {
        height: 48px;
        border: 1px solid gray;
    }
    .addButton {
        padding: 5px !important;
        font-size: 11px;
        margin-top: 2px;
    }
    .btn-sample-excel {
        width: 80%;
    }
    .btn-upload-excel {
        width: 80%;
    }
}
