<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Roles', 'List']" icon="table"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <!--<button routerLink="/roles/form/-1" class="btn pull-right addButton my-btn">+ Add New</button>-->
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div style="margin: 10px 20px;border: 1px solid #eae8e8;">
                                <input style="border: none;margin: 5px;" id="role_filter" matInput (keyup)="applyFilter($event.target.value)"
                                       placeholder="Filter">
                            </div>
                            <div class="table-role roles-container mat-elevation-z8" id="roleTable">

                                <div class="roles-table-container">
                                    <table class="rwd-table" mat-table [dataSource]="dataSource" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="roleTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn"
                                                style="width: 80px;"> S. No
                                            </th>
                                            <td data-th="S. No" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                        </ng-container>


                                        <!-- Name Column -->
                                        <ng-container matColumnDef="Name">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Name
                                            </th>
                                            <td data-th="Name" mat-cell *matCellDef="let row"> {{row.Name}}
                                            </td>
                                        </ng-container>

                                        <!-- Description Column -->
                                        <ng-container matColumnDef="Description">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Description
                                            </th>
                                            <td data-th="Description" mat-cell *matCellDef="let row"> {{row.Description}}</td>
                                        </ng-container>

                                        <!-- Action Column -->
                                        <ng-container matColumnDef="Action">
                                            <th mat-header-cell *matHeaderCellDef id="roleTableActionButton"
                                                style="width:100px;">Action
                                            </th>
                                            <td data-th="Action" mat-cell *matCellDef="let row">
                                                <a *ngIf="row.Name != 'Super Admin'" id="role_edit" class="text-primary"
                                                   routerLink="/roles/form/{{row._id}}" style="cursor:pointer;"><i
                                                        class="fa fa-pencil"></i></a>&nbsp;
                                                <!--<span *ngIf="row.Name != 'Super Admin'"> | </span>-->
                                                <!--<a *ngIf="row.Name != 'Super Admin'" id="role_delete"-->
                                                   <!--id="roleTableAction" class="text-danger" (click)="delete(row._id)"-->
                                                   <!--style="cursor:pointer;"><i class="fa fa-trash"></i></a>-->
                                            </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                </div>
                                <div *ngIf="dataSource && dataSource.data.length == 0" class="text-center pt-4 pb-4">No
                                    record found.
                                </div>
                                <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>

                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>