<div id="content" class="transfer-order budget-report">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Reports', 'TAT Report']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>

    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="filter-data">
                                <br>
                                <div class="col-md-12">
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="customerCtrl" #singleSelect (selectionChange)="onChangeCustomers()">
                                                        <mat-select-search [formControl]="customerFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Dealer</mat-option>
                                                        <mat-option *ngFor="let item of filteredCustomers" [value]="item._id">
                                                            {{item.FirstName}} {{item.LastName}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <section>
                                            <label class="input">
                                                <mat-form-field>
                                                    <mat-select [formControl]="productCtrl" #singleSelect (selectionChange)="onChangeProducts()">
                                                        <mat-select-search [formControl]="productFilterCtrl"></mat-select-search>
                                                        <mat-option value="0" disabled>Select Product</mat-option>
                                                        <mat-option *ngFor="let item of filteredProducts" [value]="item._id">
                                                            {{item.Name}}
                                                        </mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </label>
                                        </section>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="Request" [(ngModel)]="orderFilterData.RequestID" class="form-control" placeholder="Request ID">
                                    </div>
                                    <div class="col-md-2">
                                        <select name="status" [(ngModel)]="orderFilterData.Status" class="form-control">
                                            <option value="0">select status</option>
                                            <option *ngFor="let item of allOrderStatus" [value]="item.value">{{item.name}}</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customername" [(ngModel)]="orderFilterData.CustomerName" class="form-control" placeholder="Customer Name">
                                    </div>
                                    <div class="col-md-2">
                                        <input name="customermobile" [(ngModel)]="orderFilterData.CustomerMobile" class="form-control" placeholder="Customer Mobile No">
                                    </div>
                                    <div class="col-md-12" style="height: 5px;"></div>
                                    <div class="col-md-2">
                                        <input name="productcode" [(ngModel)]="orderFilterData.ProductCode" class="form-control" placeholder="Product Code">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="fromdate" [(ngModel)]="orderFilterData.FromDate" class="form-control" placeholder="from date">
                                    </div>
                                    <div class="col-md-2">
                                        <input type="date" name="todate" [(ngModel)]="orderFilterData.ToDate" class="form-control" placeholder="To Date">
                                    </div>

                                    <div class="clearfix"></div>
                                    <div class="col-md-12" style="text-align: right;">
                                        <button (click)="exportOrderAsXLSX()" [disabled]="selectedOrder.length == 0" class="btn btn-primary">Export to excel &nbsp;&nbsp;<i class="fa fa-file-excel-o"></i></button>&nbsp;&nbsp;
                                        <button (click)="clearOrderWise()" class="btn btn-warning">clear</button>&nbsp;&nbsp;
                                        <button (click)="filterOrderWise()" class="btn btn-success">search</button>
                                    </div>
                                </div>
                            </div>
                            <div class="table-report reports-container mat-elevation-z8" id="reportTable">

                                <div class="reports-table-container col-md-12">
                                    <table class="rwd-table" mat-table [dataSource]="dataSource" matSort style="width:100%;">

                                        <!-- ID Column -->
                                        <ng-container matColumnDef="_id">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="orderTableID"> ID
                                            </th>
                                            <td data-th="ID" mat-cell *matCellDef="let row"> {{row._id}}</td>
                                        </ng-container>

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S.No
                                            </th>
                                            <td data-th="S.No" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                        </ng-container>

                                        <!-- RequestID Column -->
                                        <ng-container matColumnDef="RequestID">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Request ID
                                            </th>
                                            <td data-th="RequestID" mat-cell *matCellDef="let row"> {{row.RequestID}}
                                            </td>
                                        </ng-container>

                                        <!-- Created Column -->
                                        <ng-container matColumnDef="Created">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Created
                                            </th>
                                            <td data-th="Created" mat-cell *matCellDef="let row"> {{row.CreatedDate | date: 'dd-MMM-yyyy'}} </td>
                                        </ng-container>

                                        <!-- Approved Column -->
                                        <ng-container matColumnDef="Approved">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Approved
                                            </th>
                                            <td data-th="Approved" mat-cell *matCellDef="let row"> {{row.ApproveDays}} </td>
                                        </ng-container>

                                        <!-- Dispatched Column -->
                                        <ng-container matColumnDef="Dispatched">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Dispatched
                                            </th>
                                            <td data-th="Dispatched" mat-cell *matCellDef="let row"> {{row.DispatchDays}} </td>
                                        </ng-container>

                                        <!-- Delivered Column -->
                                        <ng-container matColumnDef="Delivered">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Delivered
                                            </th>
                                            <td data-th="Delivered" mat-cell *matCellDef="let row"> {{row.DeliveryDays}} </td>
                                        </ng-container>

                                        <!-- Acknowledged Column -->
                                        <ng-container matColumnDef="Acknowledged">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header class="width125">
                                                Acknowledged
                                            </th>
                                            <td data-th="Acknowledged" mat-cell *matCellDef="let row"> {{row.AcknowledgeDays}} </td>
                                        </ng-container>


                                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>