<div id="content" class="budget-report">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Reports', 'Trend Of Service']" icon="table" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
        <!--<sa-stats></sa-stats>-->
    </div>
    <sa-widgets-grid>


        <div class="row">
            <article class="col-sm-12">
                <div sa-widget [editbutton]="false" color="blueDark">

                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <span class="left-heading">Trend Of Service</span>
                    </header>
                    <div>
                        <div class="widget-body no-padding">

                            <div class="btn-group">
                                <button [ngClass]="Type == 'Y' ? 'active' : null" (click)="[Type = 'Y', getAllByTrendService()]">Year</button>
                                <button [ngClass]="Type == 'M' ? 'active' : null" (click)="[Type = 'M', getAllByTrendService()]">Month</button>
                                <button [ngClass]="Type == 'D' ? 'active' : null" (click)="[Type = 'D', getAllByTrendService()]">Day</button>
                            </div>
                            <div class="btn-group" style="float: right;">
                                <button [ngClass]="Status == '4' ? 'active' : null" (click)="[Status = '4', getAllByTrendService()]">Issued</button>
                                <button [ngClass]="Status == '9' ? 'active' : null" (click)="[Status = '9', getAllByTrendService()]">Returned</button>
                                <button [ngClass]="Status == '10' ? 'active' : null" (click)="[Status = '10', getAllByTrendService()]">Transfered</button>
                            </div>
                            <!-- <div class="col-md-2" style="float: right;">
                                <select name="status" [(ngModel)]="Status" class="form-control" (change)="getAllByTrendService()">
                                        <option value="0" disabled>select Status</option>
                                        <option value="4">Issued</option>
                                        <option value="9">Returned</option>
                                        <option value="10">Transfered</option>
                                    </select>
                            </div> -->
                            <div class="row 123 reports-container mat-elevation-z8" id="reportProductTable">

                                <div class="reports-table-container col-md-12" style="overflow-x: auto;">
                                    <table class="rwd-table table-striped" mat-table [dataSource]="dataSourceProduct" matSort style="width:100%;">

                                        <!-- SN Column -->
                                        <ng-container matColumnDef="SN">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header id="sn" style="width: 80px;"> S.No
                                            </th>
                                            <td [attr.data-th]="'S.No'" class="padding-left-zero-mob" mat-cell *matCellDef="let row ; let i = index;"> {{i+1}}</td>
                                            <td [attr.data-th]="" class="padding-left-zero-mob" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- RequestID Column -->
                                        <ng-container matColumnDef="RequestID">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Request-ID
                                            </th>
                                            <td [attr.data-th]="'Request-ID'" mat-cell *matCellDef="let row"> {{row.RequestID}}
                                            </td>
                                            <td [attr.data-th]="'Key'" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SalesPerson Column -->
                                        <ng-container matColumnDef="SalesPerson">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 105px;">
                                                Dealer
                                            </th>
                                            <td [attr.data-th]="'Dealer'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.FirstName}} {{row.SalesPersonID.LastName}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- SalesPersonContact Column -->
                                        <ng-container matColumnDef="SalesPersonContact">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="min-width: 105px;">
                                                Phone
                                            </th>
                                            <td [attr.data-th]="'Phone'" mat-cell *matCellDef="let row"> {{row.SalesPersonID.Phone}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> </td>
                                        </ng-container>

                                        <!-- OrderCreated Column -->
                                        <ng-container matColumnDef="OrderCreated">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Order Created
                                            </th>
                                            <td [attr.data-th]="'OrderCreated'" mat-cell *matCellDef="let row"> {{row.CreatedDate | date: 'dd-MMM-yyyy'}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> Total: </td>
                                        </ng-container>

                                        <!-- ProductQuantity Column -->
                                        <ng-container matColumnDef="ProductQuantity">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Product Quantity
                                            </th>
                                            <td [attr.data-th]="'ProductQuantity'" mat-cell *matCellDef="let row"> {{row.Products.length}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalQuantity()}} </td>
                                        </ng-container>

                                        <!-- TotalAmount Column -->
                                        <ng-container matColumnDef="TotalAmount">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                Total Amount
                                            </th>
                                            <td [attr.data-th]="'TotalAmount'" mat-cell *matCellDef="let row"> {{row.TotalAmount | currency: 'INR'}}
                                            </td>
                                            <td [attr.data-th]="''" mat-footer-cell *matFooterCellDef> {{getTotalAmount() | currency: 'INR'}} </td>
                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="displayedColumnsProduct"></tr>
                                        <tr mat-row *matRowDef="let row; columns: displayedColumnsProduct;"></tr>
                                        <tr mat-footer-row *matFooterRowDef="displayedColumnsProduct"></tr>
                                    </table>
                                    <mat-paginator [pageSizeOptions]="[10,20,50]" showFirstLastButtons></mat-paginator>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>

            </article>


        </div>

    </sa-widgets-grid>
</div>
<ng4-loading-spinner [threshold]="100" [timeout]="120000" [loadingText]="'Please wait...'"></ng4-loading-spinner>